@import "../../modules/_settings/_setting_pages";
@import "../_common/com.scss";
@import "../_common/bootstrap.min.scss";

#page{
  text-align: center;
  margin: 20px 0 30px 0;
  a,span{
      padding: 0 12px;
      border-radius: 2px;
      margin: 0 3px 6px;
      height: 26px;
      line-height: 26px;
      text-decoration: none;
      color: #666;
  }
  a{
    background-color: #f1eff0;
  }
  .laypage_main *{
    display: inline-block;
    & input, button{
          width: 40px;
          height: 26px;
          line-height: 26px;
          margin: 0 5px;
          padding: 0 5px;
          border: 1px solid #ccc;
          background-color: #fff;
    }
  }
}