
<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
</head>

<body>
@@include('../_common/header/header.html')

<div class="wrapper">
    <div class="container">
        <div class="category">
            <div id="myTabContent" class="tab-content">
            <div class="fade in active" id="cat-all">
                <div class="filter">
                    <dl class="filter-items filter-item-brand">
                      <dt class="filter-tit" title="品名">品名</ddt>
                      <dd class="filter-con">
                        <ul class="filter-con-ul">
                          <li class="filter-name filter-all selected" data-param="catId2" data-val="" filter="filter0"><a href="javascript:;">不限</a></li>
                          <li class="filter-name" data-param="catId2" data-val="78" filter="filter0"><a href="javascript:;">锌</a></li>
                          <li class="filter-name" data-param="catId2" data-val="88" filter="filter0"><a href="javascript:;">锌2</a></li>
                          <li class="filter-name" data-param="catId2" data-val="89" filter="filter0"><a href="javascript:;">锌3</a></li>
                          <li class="filter-name" data-param="catId2" data-val="90" filter="filter0"><a href="javascript:;">锌4</a></li>
                          <li class="filter-name" data-param="catId2" data-val="105" filter="filter0"><a href="javascript:;">电解铜</a></li>
                          <li class="filter-name" data-param="catId2" data-val="78" filter="filter0"><a href="javascript:;">锌</a></li>
                          <li class="filter-name" data-param="catId2" data-val="88" filter="filter0"><a href="javascript:;">锌2</a></li>
                          <li class="filter-name" data-param="catId2" data-val="89" filter="filter0"><a href="javascript:;">锌3</a></li>
                          <li class="filter-name" data-param="catId2" data-val="90" filter="filter0"><a href="javascript:;">锌4</a></li>
                          <li class="filter-name" data-param="catId2" data-val="105" filter="filter0"><a href="javascript:;">电解铜</a></li>
                          <li class="filter-name" data-param="catId2" data-val="78" filter="filter0"><a href="javascript:;">锌</a></li>
                          <li class="filter-name" data-param="catId2" data-val="88" filter="filter0"><a href="javascript:;">锌2</a></li>
                          <li class="filter-name" data-param="catId2" data-val="89" filter="filter0"><a href="javascript:;">锌3</a></li>
                          <li class="filter-name" data-param="catId2" data-val="90" filter="filter0"><a href="javascript:;">锌4</a></li>
                          <li class="filter-name" data-param="catId2" data-val="105" filter="filter0"><a href="javascript:;">电解铜</a></li>
                          <li class="filter-name" data-param="catId2" data-val="78" filter="filter0"><a href="javascript:;">锌</a></li>
                          <li class="filter-name" data-param="catId2" data-val="88" filter="filter0"><a href="javascript:;">锌2</a></li>
                          <li class="filter-name" data-param="catId2" data-val="89" filter="filter0"><a href="javascript:;">锌3</a></li>
                          <li class="filter-name" data-param="catId2" data-val="90" filter="filter0"><a href="javascript:;">锌4</a></li>
                          <li class="filter-name" data-param="catId2" data-val="105" filter="filter0"><a href="javascript:;">电解铜</a></li>
                        </ul>
                        <a href="#" class="more">更多</a>
                      </dd>
                    </dl><!--filter-items-->
                    <dl class="filter-items filter-item-size">
                      <dt class="filter-tit" title="规格">规格</dt>
                      <dd class="filter-con">
                        <ul class="filter-con-ul">
                          <li class="filter-name filter-all selected" data-param="model" data-val="" filter="filter1"><a href="javascript:;">不限</a></li>
                          <li class="filter-name" data-param="model" data-val="规格型号" filter="filter1"><a href="javascript:;">规格型号</a></li>
                          <li class="filter-name" data-param="model" data-val="型号" filter="filter1"><a href="javascript:;">型号</a></li>
                          <li class="filter-name" data-param="model" data-val="规格" filter="filter1"><a href="javascript:;">规格</a></li>
                          <li class="filter-name" data-param="model" data-val="20*30" filter="filter1"><a href="javascript:;">20*30</a></li>
                          <li class="filter-name" data-param="model" data-val="20*20" filter="filter1"><a href="javascript:;">20*20</a></li>
                          <li class="filter-name" data-param="model" data-val="30*30" filter="filter1"><a href="javascript:;">30*30</a></li>
                          <li class="filter-name" data-param="model" data-val="100*100" filter="filter1"><a href="javascript:;">100*100</a></li>
                          <li class="filter-name" data-param="model" data-val="钢铁" filter="filter1"><a href="javascript:;">钢铁</a></li>
                          <li class="filter-name" data-param="model" data-val="C70" filter="filter1"><a href="javascript:;">C70</a></li>
                          <li class="filter-name" data-param="model" data-val="BG500" filter="filter1"><a href="javascript:;">BG500</a></li>
                        </ul>
                        <a href="#" class="more">更多</a>
                      </dd>
                    </dl><!--filter-items-->
                    <dl class="filter-items filter-item-mate">
                      <dt class="filter-tit" title="质量标准">质量标准</dt>
                      <dd class="filter-con">
                        <ul class="filter-con-ul">
                          <li class="filter-name filter-all selected" data-param="quality" data-val="" filter="filter2"><a href="javascript:;">不限</a></li>
                          <li class="filter-name" data-param="quality" data-val="质量标准" filter="filter2"><a href="javascript:;">质量标准</a></li>
                          <li class="filter-name" data-param="quality" data-val="标准" filter="filter2"><a href="javascript:;">标准</a></li>
                          <li class="filter-name" data-param="quality" data-val="国标III" filter="filter2"><a href="javascript:;">国标III</a></li>
                          <li class="filter-name" data-param="quality" data-val="GB100" filter="filter2"><a href="javascript:;">GB100</a></li>
                          <li class="filter-name" data-param="quality" data-val="GB200" filter="filter2"><a href="javascript:;">GB200</a></li>
                          <li class="filter-name" data-param="quality" data-val="GB500" filter="filter2"><a href="javascript:;">GB500</a></li>
                          <li class="filter-name" data-param="quality" data-val="钢铁" filter="filter2"><a href="javascript:;">钢铁</a></li>
                          <li class="filter-name" data-param="quality" data-val="GB2014" filter="filter2"><a href="javascript:;">GB2014</a></li>
                        </ul>
                        <a  href="#" class="more">更多</a>
                      </dd>
                    </dl><!--filter-items-->
                    <dl class="filter-items filter-item-vender">
                      <dt class="filter-tit" title="厂家">厂家</dt>
                      <dd class="filter-con">
                        <ul class="filter-con-ul">
                          <li class="filter-name filter-all selected" data-param="vender" data-val="" filter="filter3"><a href="#">不限</a></li>
                          <li class="filter-name" data-param="vender" data-val="厂家" filter="filter3"><a href="javascript:;">厂家</a></li>
                          <li class="filter-name" data-param="vender" data-val="商品厂家" filter="filter3"><a href="javascript:;">商品厂家</a></li>
                          <li class="filter-name" data-param="vender" data-val="厂家名称" filter="filter3"><a href="javascript:;">厂家名称</a></li>
                          <li class="filter-name" data-param="vender" data-val="广州铝厂" filter="filter3"><a href="javascript:;">广州铝厂</a></li>
                          <li class="filter-name" data-param="vender" data-val="XXXXXX" filter="filter3"><a href="javascript:;">XXXXXX</a></li>
                          <li class="filter-name" data-param="vender" data-val="XXXX" filter="filter3"><a href="javascript:;">XXXX</a></li>
                          <li class="filter-name" data-param="vender" data-val="鞍钢" filter="filter3"><a href="javascript:;">鞍钢</a></li>
                          <li class="filter-name" data-param="vender" data-val="钢铁" filter="filter3"><a href="javascript:;">钢铁</a></li>
                          <li class="filter-name" data-param="vender" data-val="宝钢" filter="filter3"><a href="javascript:;">宝钢</a></li>
                          <li class="filter-name" data-param="vender" data-val="锌厂" filter="filter3"><a href="javascript:;">锌厂</a></li>
                          <li class="filter-name" data-param="vender" data-val="铜厂" filter="filter3"><a href="javascript:;">铜厂</a></li>
                          <li class="filter-name" data-param="vender" data-val="重创" filter="filter3"><a href="javascript:;">重创</a></li>
                        </ul>
                        <a href="#" class="more">更多</a>
                      </dd>
                    </dl><!--filter-items-->
                    <div class="filter-items-blank"></div>
                </div><!--filter-->
                <div class="cateTags"><!-- check tags -->
                    <dl class="cf">
                        <dt>
                            你选择的是：&nbsp;&nbsp;
                        </dt>
                    </dl>
                </div><!-- check tags -->
            </div>
            </div>
                 <div class="sort_product cate-prolist" id="mall-list">
                    <div id="exhibition">
                        {{{reactMallGoodsList}}}
                    </div>
                    <div style="paliing-left:50%;margin-bottom:15px;" class="u-clearfix">
                        <div id="page" style="width:auto;margin-left:-50%;" ></div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>


@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
</body>
</html>
