@import "../../_copy2dist/iconfont";
@import "../../global/_settings/_setting_pages";

html,body{
  height: 100%;
}
#container-box{
  height: 100%;
}
.com_index{
  height: 100%;
  margin-top: -0.05rem;
  ul{
    font-size: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    .item{
      font-size: 0.8rem;
      display: inline-block;
      height: 50%;
      text-align: center;
      border-top: 0.05rem solid #d0d0d0;
      border-left: 0.05rem solid #d0d0d0;
      width: 49.6666%;
      .hbody{
        padding-top: 6rem;
      }
      i{
        display: block;
        font-size: 2.9rem;
        margin-bottom: 2.5rem;
        color: #FFB113;
      }
      em{
        font-style: normal;
        display: block;
        a{
          color: #262626;
        }
      }
    }
  }
}
// @media (orientation: portrait) {
//
//   .com_index{
//     height: 100%;
//     ul{
//       height: 100%;
//       .item{
//         font-size: 0.8rem;
//         height: 33%;
//         width: 49.6666%;
//         .hbody{
//           padding-top: 3.5rem;
//         }
//         i{
//           font-size: 3.5rem;
//           margin-bottom: 2.5rem;
//         }
//       }
//     }
//   }
// } //横屏
// @media (orientation: landscape) {
//   .com_index{
//     width: 100%;
//     ul{
//       width: 100%;
//       .item{
//         font-size: 0.4rem;
//         height: 4rem;
//         width: 45%;
//         .hbody{
//           padding-top: 1rem;
//         }
//         i{
//           font-size: 1rem;
//           margin-bottom: 1rem;
//         }
//       }
//     }
//   }
// } //竖屏
// @media (max-width: 760px){
//   .com_index{
//     ul{
//       .item{
//         font-size: 0.4rem;
//       }
//       i{
//         font-size: 1rem;
//       }
//     }
//   }
// }
