
<!doctype html>

<html>
<head>
    <title>仿一堂课H5首页效果 H5 REM</title>
    @@include('../_common/header/h5_rem_head.html')
    @@include('../_common/header/header_h5_nav.html')
</head>
<body>
<div class="container-box">
    <!-- slide -->
    <div class="remrow u-mt_40">
        <div class="u-clearfix" id="slide"></div>
    </div>
    <!-- cat -->
    <div class="remrow">
        <div class="span12 u-clearfix" id="test"></div>
    </div>
    <!-- list -->
    <div class="remrow">
        <div class="span12 u-clearfix" id="test1"></div>
    </div>
    <!-- foot -->
    <div class="remrow">
        <div class="span12 u-clearfix" id="test2"></div>
    </div>
</div>
@@include('../_common/footer/footer_h5_nav.html')
<div class="" data-module="index">
    <div class="remrow">
        <div class="col-12 row-6" style="background-color:gray"></div>
    </div>
    <div class="remrow">
      <div class="col-6 row-6" style="background-color:red;"><div class="showcase">123</div> </div>
      <div class="col-6 row-3" style="background-color:blue"><div class="showcase">456</div> </div>
      <div class="col-3 row-3" style="background-color:green"><div class="showcase">789</div></div>
      <div class="col-3 row-3" style="background-color:yellow"><div class="showcase">1f2d3s4g</div></div>
    </div>
</div>
@@include('../_common/footer/foot_h5.html')
</body>
</html>
