<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>Foundation | Welcome</title>
    @@include('../_common/header/h5_rem_head.html')
  </head>
  <body>
    <header>
      <nav class="tab-bar">
        <section class="lefet-small">
          <i class="icon iconfont"></i>
        </section>
        <section class="middle tab-bar-section">
          <h1>我的优惠券</h1>
        </section>
      </nav>
    </header>
<!--     <div class="wrapper">
      <div class="row">
        <ul class="tabs coupons_ul" data-tab role="tablist">
          <li class="tab-title small-3 large-3 active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">全部</a></li>
          <li class="tab-title small-3 large-3" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">未使用</a></li>
          <li class="tab-title small-3 large-3" role="presentation"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3">已使用</a></li>
          <li class="tab-title small-3 large-3" role="presentation"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4">已过期</a></li>
        </ul>
      </div>
      <div class="tabs-content">
        <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
          <div class="row">
            <div class="small-12 large-12 columns small-centered">
              <article class="event">
                <div class="event-coupons">                
                  <div class="event-pic">
                    <em><i>$</i>100</em>
                    <span>优惠券</span>
                  </div>
                </div>
                <div class="event-desc">
                  <h4 class="event-desc-header">组成拼班获得</h4>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>优惠编码：LKSDJFDF</p>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>过期时间：2015-11-23</p>
                </div>
                <div class="event-date circlenumber">
                  <i class="radius_word">马上使用</i>
                </div>
              </article>
              <hr>
              <article class="event">
                <div class="event-coupons">                
                  <div class="event-pic">
                    <em><i>$</i>100</em>
                    <span>优惠券</span>
                  </div>
                </div>
                <div class="event-desc">
                  <h4 class="event-desc-header">组成拼班获得</h4>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>优惠编码：LKSDJFDF</p>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>过期时间：2015-11-23</p>
                </div>
                <div class="event-date circlenumber">
                  <i class="radius_word">马上使用</i>
                </div>
              </article>
               <hr>
              <article class="event">
                <div class="event-coupons">                
                  <div class="event-pic">
                    <em><i>$</i>100</em>
                    <span>优惠券</span>
                  </div>
                </div>
                <div class="event-desc">
                  <h4 class="event-desc-header">组成拼班获得</h4>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>优惠编码：LKSDJFDF</p>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>过期时间：2015-11-23</p>
                </div>
                <div class="event-date secondary">
                  <i class="radius_word">已使用</i>
                </div>
              </article>
               <hr>
              <article class="event">
                <div class="event-coupons">                
                  <div class="event-pic">
                    <em><i>$</i>100</em>
                    <span>优惠券</span>
                  </div>
                </div>
                <div class="event-desc">
                  <h4 class="event-desc-header">组成拼班获得</h4>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>优惠编码：LKSDJFDF</p>
                  <p class="event-desc-detail"><span class="event-desc-time"></span>过期时间：2015-11-23</p>
                </div>
                <div class="event-date secondary">
                  <i class="radius_word">已使用</i>
                </div>
              </article>
            </div>
          </div>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
          <h2>Second panel content goes here...</h2>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
          <h2>Third panel content goes here...</h2>
        </section>
        <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
          <h2>Fourth panel content goes here...</h2>
        </section>
      </div>
    </div> -->
    <div class="wrapper">
      <div class="row">
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <div id="tab-switch-mooc"></div>
        </div>
      </div>
    </div>
    <footer>
      <ul  class="small-block-grid-5">
        <li>
          <a href="#">
            <i class="iconfont">&#xe600;</i>
            首页
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe603;</i>
            选课
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe605;</i>
            亲子活动
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe604;</i>
            课程表
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe601;</i>
            我的账号
          </a>
        </li>
      </ul>
    </footer>
    @@include('../_common/footer/foot.html')
  </body>
</html>
