<!DOCTYPE html>
<html>
<head>
	<title>君华集团</title>
	@@include('_common/head.html')
</head>
<body>
@@include('_common/header.html')
<div class="wrapper wrap_ry">
	<div class="container">
		<div class="row">
			<div class="nav_com">
				<div class="nav_about">
					<h2>创造 · 分享 · 爱</h2>
					<div class="about_gd">
						<div class="about_scroll" id="about_scroll">
							<ul id="about_sul">
								<li class="about_sli_c1"><a href="javascript:void(0)">2005年，君华集团被评为“广州市百强民营企业”</a></li>
								<li class="about_sli_c2"><a href="javascript:void(0)">2007年，君华集团被评为“广东省企业100强”</a></li>
								<li class="about_sli_c3"><a href="javascript:void(0)">2013年，君华集团被评为“中国房地产企业100强”</a></li>
								<li class="about_sli_c4"><a href="javascript:void(0)">2013年，君华集团被评为“中国房地产百强企业”</a></li>
								<li class="about_sli_c5"><a href="javascript:void(0)">2014年，君华集团被评为“中国民营企业500强”第197位</a></li>
								<li class="about_sli_c1"><a href="javascript:void(0)">2014 年，君华集团被评为“中国民营企业服务业100强”第45位</a></li>
								<li class="about_sli_c2"><a href="javascript:void(0)">君华集团为广州银行十大股东之一</a></li>
								<li class="about_sli_c3"><a href="javascript:void(0)">君华集团为广州农商银行十大股东之一</a></li>
								<li class="about_sli_c4"><a href="javascript:void(0)">领壹科技拥有逾5000万平方米物业管理面积</a></li>
								<li class="about_sli_c5"><a href="javascript:void(0)">联商所是华南最大的铜综合贸易平台商，已升级为“类交易所”</a></li>
							</ul>
						</div>
					</div>
					<div class="nav_about_wz">
						“作为一个成功者的负重感，被重新成为一个创业者的轻松感完全代替，这也让我进入了生命中最有创造力的一个阶段。”<br><br>这是乔布斯回忆自己当年被苹果公司炒掉的体会，说那是他“这辈子经历的最棒的事儿”。创造出世界上第三个最伟大苹果的老乔是为显示自己牛掰而装逼吗？显然不是，这种对创业的痴迷几乎是所有新世代企业家的共同特质，张劲就对乔布斯的这番话深有同感。<br><br>我们曾经取得过辉煌的成就，拥有非常丰厚的社会资源和资本力量，中国民营经济百强，年销售额超过338亿元，年复合增长率超过30%，我们深耕的领域获得过铜等大宗商品华南区域销售量第一、中国房地产企业双百强、多年的汽车销售金钥匙奖以及无数鲜花与荣誉。然而，这些在张劲看来，都只是过去，甚至是负累，“新的时代已经到来了，历史的车轮滚滚向前，顺者昌，逆者亡。没有改变，就没有生路。”张劲异常坚定地说。<br><br>布局五年，我们已经脱胎换骨，形成了横跨社区O2O、大宗商品交易平台、金融投资、房地产、产业孵化、汽车市场六大业务平台的产业布局。新兴产业的布局已经基本完成，全部的产业计划在五年内全部登陆资本市场。<br><br>“未来的中国经济有个很重要的特点，未来的20年将是个资本的时代”。“我们要活在未来的20年，而不是过去的20年。未来20年属于80后、90后、00后，我们跟随而不是领导他们，更不是统治他们。”对于一家曾经以大宗商品贸易、物业管理，汽车4S店，房地产开发等传统行业为安身立命并取得相当大的成功的企业来说，这无异于颠覆自己，“颠覆是创造的起点。颠覆首先要颠覆我们的观念，新的观念才能造就真正意义上的创造。”创业者张劲坚决得灰常自信。<br><br>创业ING的我们，不再满足于仅仅创造有价值的产品，还要以资本孵化创新企业，以资本市场促进产业发展，培育新经济时代高估值的企业。由此，我们的业务和收益出呈现爆发式增长。而且，这些孵化出来的企业新锐、前沿，富有市场潜力，都将是有激情滴年轻人当主角的舞台。<br><br>我们在地产产品中坚持走自己的路，每一个都致力于创造成概念超前的艺术精品，收获无数社会美誉，而未来我们将成为政府服务提供商+商业精品项目，让城市变得更美好、更宜居，追求利润但绝不止于利润。<br><br>“我们要消灭职业经理人，消灭打工仔，这是个合作分享的年代，占山为王的独角兽将不会有生存空间，”张劲如是说。事实上，目前我们全部的产业都是新人在第一线。“创新的动力来自他们”。<br><br>时代在变，我们情怀不变，“总有些传统价值观要被流传下去，比如爱”，我们提出自己的公益三大主张“微公益、直接慈善、尊重受助者尊严”。“企业经营的根本目的就是盈利最大化，做企业本身就是最大的慈善，不需要用‘社会责任’把自己包装得那么高大上。我们提出自己得公益主张，只是有点小情怀，踏踏实实做点自己想做的事情，最重要是走心，拒绝空谈、拒绝作秀。”张劲淡然地说。<br><br>这是最好的时代，这是最坏的时代；这是智慧的时代，这是愚蠢的时代；这是信仰的时期，这是怀疑的时期；这是光明的季节，这是黑暗的季节；这是希望之春，这是失望之冬；人们面前有着各样事物，人们面前一无所有；人们正在直登天堂，人们正在直下地狱。骚年们，来吧，一起彪悍一起飞吧！<br/><br/>
					</div>
					<br/><!-- <br/><br/>
					<img src="statics/front/cedar/images/about.jpg"><br/><br/><br/><br/><br/> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- include footer -->
@@include('_common/footer.html')
@@include('_common/foot.html')
<script language=javascript>
	$(function(){
		$("#about_sul").slideUp();	
	})
</script>
</body>
</html>`