<!DOCTYPE html>
<html>
<head>
	<title>君华集团</title>
	@@include('_common/head.html')
</head>
<body>
@@include('_common/header.html')
	<div class="wrapper wrap_ry">
		<div class="container">
			<div class="row">
				<div class="nav_com">
					<div class="nav_contact">
						<ul>
							<li>
								<dl>
									<dt>君华集团有限公司</dt>
									<dd>电话：（+86）20-38911638</dd>
									<dd>传真：（+86）20-38911618</dd>
									<dd>邮箱：<span class="mail">kingvision@kingvision.com.cn</span></dd>
									<dd>地址：<span class="dz">广州市白云区广州大道北1618号君华香柏广场F4</span></dd>
									<dd>邮编：510510</dd>
									<dd class="border"><img src="/images/m-company/cedar.png"></dd>
								</dl>
								<dl class="even">
									<dt>领壹科技</dt>
									<dd>电话：（+86）20-38911638</dd>
									<dd>传真：（+86）20-38911618</dd>
									<dd>邮箱：<span class="mail">lingyikeji@kingvision.com.cn</span></dd>
									<dd>地址：<span class="dz">广州市白云区广州大道北1618号君华香柏广场F4</span></dd>
									<dd>邮编：510510</dd>
									<dd class="border"><img src="/images/m-company/ly.png"></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>君华集团有限公司</dt>
									<dd>电话：（+86）20-38911638</dd>
									<dd>传真：（+86）20-38911618</dd>
									<dd>邮箱：<span class="mail">kingvision@kingvision.com.cn</span></dd>
									<dd>地址：<span class="dz">广州市白云区广州大道北1618号君华香柏广场F4</span></dd>
									<dd>邮编：510510</dd>
									<dd class="border"><img src="/images/m-company/cedar.png"></dd>
								</dl>
								<dl class="even">
									<dt>领壹科技</dt>
									<dd>电话：（+86）20-38911638</dd>
									<dd>传真：（+86）20-38911618</dd>
									<dd>邮箱：<span class="mail">lingyikeji@kingvision.com.cn</span></dd>
									<dd>地址：<span class="dz">广州市白云区广州大道北1618号君华香柏广场F4</span></dd>
									<dd>邮编：510510</dd>
									<dd class="border"><img src="/images/m-company/ly.png"></dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>君华集团有限公司</dt>
									<dd>电话：（+86）20-38911638</dd>
									<dd>传真：（+86）20-38911618</dd>
									<dd>邮箱：<span class="mail">kingvision@kingvision.com.cn</span></dd>
									<dd>地址：<span class="dz">广州市白云区广州大道北1618号君华香柏广场F4</span></dd>
									<dd>邮编：510510</dd>
									<dd class="border"><img src="/images/m-company/cedar.png"></dd>
								</dl>
								<dl class="even">
									<dt>领壹科技</dt>
									<dd>电话：（+86）20-38911638</dd>
									<dd>传真：（+86）20-38911618</dd>
									<dd>邮箱：<span class="mail">lingyikeji@kingvision.com.cn</span></dd>
									<dd>地址：<span class="dz">广州市白云区广州大道北1618号君华香柏广场F4</span></dd>
									<dd>邮编：510510</dd>
									<dd class="border"><img src="/images/m-company/ly.png"></dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- include footer -->
@@include('_common/footer.html')
@@include('_common/foot.html')
</body>
</html>