<!DOCTYPE html>
<html>
<head>
	<title>君华集团</title>
	@@include('_common/head.html')
</head>
<body>
@@include('_common/header.html')
<div class="wrapper">
 	<div class="container m_wrapper">
		<div class="pro_carousel">
			<ul class="pro_carousel_ul">
				<li>
					<div class="outer">
						<a href="creation.html">创造</a>
                   		<p class="banner_text">·创造历史必须颠覆自己，颠覆是创造的起点·</p>
                   	</div>				
				</li>
				<li>
					<div class="outer">
						<a href="creation.html">分享</a>
                   		<p class="banner_text">·分享智慧+财富 一起彪悍一起飞·</p>
                   	</div>				
				</li>
				<li>
					<div class="outer">
						<a href="creation.html">爱</a>
                   		<p class="banner_text">·有爱人生 上帝说要走心·</p>
                   	</div>				
				</li>
			</ul>
			<div class="pro_carousel_page">
				<ul>
					<li class="active"><span></span></li>
				</ul>
			</div>
		</div>
		<div class="company_list">
			<ul>
				<li>
					<a class="company_list_div" href="#">
						<img alt="" src="/images/m-company/1.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="even">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/m-company/2.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li>
					<a class="company_list_div" href="#">
						<img alt="" src="/images/m-company/3.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="even">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/m-company/4.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li>
					<a class="company_list_div" href="#">
						<img alt="" src="/images/m-company/5.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="even">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/m-company/6.jpg">
						<span>领壹科技</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- include footer -->
@@include('_common/footer.html')
@@include('_common/foot.html')
</body>
</html>
