<!DOCTYPE html>
<html>
<head>
	<title>君华集团</title>
	@@include('_common/head.html')
</head>
<body>
@@include('_common/header.html')
<div class="wrapper wrap_ry">
	<div class="container">
		<div class="row">
			<div class="nav_com">
				<div class="news_content slides_list">
					<div class="news_nav_list">
						<ul class="tab news_contul">
							<li ><a href="javascript:;" data-id="news_nav2014">2014<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2013">2013<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2012">2012<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2011">2011<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2010">2010<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2009">2009<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2008">2008<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2007">2007<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2006">2006<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2005">2005<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2004">2004<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2003">2003<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2002">2002<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2001">2001<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav2000">2000<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav1999">1999<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav1998">1998<i></i></a></li>
							<li ><a href="javascript:;" data-id="news_nav1997">1997<i></i></a></li>
						</ul>
					</div>
					<div class="news_slides">
					    <a href="javascript:void(0);" class="news_Yl"><i></i></a>
					    <a href="javascript:void(0);" class="news_Yr"><i></i></a>
					</div>
					<div class="ntab-content">
						<div class="tab-pane" id="news_nav{{selectYear}}">
							<ul class="news_list">
								<li>
									<a href="m_news_view.html">2013年度君华助学金捐赠仪式在康大举行</a>
									<span>2015-08-24</span>
								</li>
								<li>
									<a href="m_news_view.html">2013君华“让梦飞起来”童声大赛第三场海选唱响</a>
									<span>2015-08-01</span>
								</li>
								<li>
									<a href="m_news_view.html">君华天汇举办2013地产金融才子佳人汇活动</a>
									<span>2015-07-31</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- 分页 begin -->
					<div id="pageNav"></div>
                    <!-- 分页 end -->					
				</div>
			</div>
		</div>
	</div>
</div>
<!-- include footer -->
@@include('_common/footer.html')
@@include('_common/foot.html')
</body>
</html>
