<!DOCTYPE html>
<html>
<head>
	<title>君华集团</title>
	@@include('_common/head.html')
</head>
<body>
@@include('_common/header.html')
<div class="wrapper wrap_ry">
	<div class="container">
		<div class="row">
			<div class="nav_com1">
				<div class="nav_about">
					<h2>2013年度君华助学金捐赠仪式在康大举行</h2>
                    <div class="news_contai" style="">
						2012年3月，君华公益基金会向康大职业技术学院捐赠50万元，帮助贫困学生完成学业，2013年君华公益基金会再次慷慨解囊50万元，继续资助康大学子，并于5月30日，在广州康大职业技术学院举行了简单而意义重大的捐赠仪式，君华公益基金会长朱秉衡、康大学院执行董事朱杰、院长孙云、院党委书记李福明、副院长吕泉荣等领导，与近200名师生代表一起见证了这场“爱”的仪式。
						<br> 
						<br> 当天下午4时，初夏阳光遍地，微风徐徐，康大校园中到处洋溢着青春的气息。学院一号报告厅中，坐满了师生代表，这其中，包括此次受资助的133名学生，相比上一届，本届受捐助层面更加广泛，人数相应也有所增加。
						<br> 
						<br> 现场，学院副院长李福明担任捐赠仪式主持，他在开场发言中介绍了捐赠项目的实施情况。朱秉衡随后在捐赠仪式上发表讲话，他表示，在康大学院，君华公益基金会设置了“助学金”而不是“奖学金”，是因为每个人在一生当中都有一段时间会处在艰难的时期，贫困并不可怕，也不是过错，君华通过“助学金”帮助孩子们度过难关，激励孩子们珍惜学习的机会，去创造和改变人生。
						<br> 
						<br> 朱秉衡更与学子们分享了成长的励志故事，以“苹果之父”乔布斯的传奇经历及其勤奋刻苦的精神，传递给学子们“艰难可能是转折”的成长态度，并以中山大学等几所著名院校的校训精神与学子们共勉，“把贫困当做一种历练”。
						<br> 
						<br> 孙云院长在随后的讲话中，代表学院及受资助学生向君华集团表示诚挚的感谢。他希望学生们能坦然面对这份馈赠，“今天我们接受了这份馈赠，明天我们将以更大的力气去回报社会，回报国家” 。
						<br> 
						<br> 捐赠仪式上，朱秉衡先后为获得3000元、4000元、6000元的受资助贫困学生代表颁发了捐赠支票。2012级计算机系学生林进国作为受资助贫困生代表，他说，“君华公益基金会给了我们帮助，我们一定会把这份关爱化作学习的动力，去成长，去感恩”。
						<br> 
						<br> 据悉，康大职业技术学院助学金是广东君华公益基金会的一项长期捐助项目，作为康大学院成立以来首次获得的第一笔来自慈善机构的社会助学金，2012-2013年来，君华公益基金会连续向康大捐赠金额已达100万元。
						<br> 
						<br> 目前，第一批受捐助的学生借着君华的资助，自强自立，积极进取。部分走入社会的学子们对于君华的帮助更是心怀感激，其中管理系2009级学生洪春明，现在广东省雷州市书画院担任培训部助理教师，他说，“如果没有君华助学金的帮助，我不会顺利完成了大学三年的学习，对于我来说，君华有爱，使我跨过了那道坎，在往后的岁月里，我要感恩、回报”。
						<br> 
						<br> 
						<br> 
						<br> 图说
						<br> 
						<br> 1 君华乐善，再次将爱撒播在康大学子们心中
						<br> 
						<br> 2 朱秉衡会长激励着学子们用积极向上的态度去开拓人生
						<br> 
						<br> 3 孙云院长鼓励学子们坦然接受捐助，感恩回报
						<br> 
						<br> 4 朱秉衡会长代表广东省君华公益基金会向康大学院捐赠伍拾万元助学金
						<br> 
						<br> 5 朱秉衡会长向受资助的学生代表捐赠善款
						<br> 
						<br> 6 2012级计算机系学生林进国作为受资助贫困生代表发言，他感谢君华有爱的资助，将勤奋学习去回报社会
						<br> 
						<br> 7 孙云院长向朱秉衡会长赠送《捐赠助学金纪念册》及《2012年广东君华助学金捐赠纪念光盘》
						<br> 
						<br> 8 全体人员合影留念，在诚挚的感恩和祝福声中，捐赠仪式圆满结束
						<br>
					</div>
					<br/><br/><br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- include footer -->
@@include('_common/footer.html')
@@include('_common/foot.html')
</body>
</html>`