<!DOCTYPE html>
<html>
<head>
	<title>君华集团</title>
	@@include('_common/head.html')
</head>
<body>
@@include('_common/header.html')
<div class="wrapper wrap_ry">
	<div class="container">
		<div class="row clearfix">
			<div class="nav_com ">
				<div class="nav_portfolio">
					<div class="port">
						<ul>
							<li>
								<a class="company_list_div" href="#">
									<img alt="" src="/images/m-company/1.jpg">
									<span>领壹科技</span>
								</a>
							</li>
							<li class="even">
								<a class="company_list_div" href="#">
									<img alt="" src="/images/m-company/2.jpg">
									<span>领壹科技</span>
								</a>
							</li>
							<li>
								<a class="company_list_div" href="#">
									<img alt="" src="/images/m-company/3.jpg">
									<span>领壹科技</span>
								</a>
							</li>
							<li class="even">
								<a class="company_list_div" href="#">
									<img alt="" src="/images/m-company/4.jpg">
									<span>领壹科技</span>
								</a>
							</li>
							<li>
								<a class="company_list_div" href="#">
									<img alt="" src="/images/m-company/5.jpg">
									<span>领壹科技</span>
								</a>
							</li>
							<li class="even">
								<a class="company_list_div" href="#">
									<img alt="" src="/images/m-company/6.jpg">
									<span>领壹科技</span>
								</a>
							</li>
						</ul>					
					</div>
					<br/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- include footer -->
@@include('_common/footer.html')
@@include('_common/foot.html')
</body>
</html>`