@import "../../global/_settings/_setting_pages";
@import "../../_copy2dist/iconfont.scss";
html,body{
	height: 100%;
}
body{
	background-color: #fff;
}

@mixin hd {
	display: table-cell;
	background-color: #fff;
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	border-bottom: 1px solid #9f9f9f;
	vertical-align: middle;
	text-indent: 0.4rem;
	color: #999;
	margin-bottom: 0.5rem;
}

@mixin bd {
	display: table-row;
	margin-bottom: 1rem;
	height: 4rem;
	padding-bottom: 1rem;
}

@mixin fd {
	display: table-cell;
	// background-color: #efefef;
	vertical-align: middle;
}

@mixin dot {
	top: 0.46rem;
	right: 0.3rem;
	width: 6rem;
	height: 1rem;
	padding: 0;
	i{
		color: #FF7900;
		padding: 0.3rem 0;
		width: auto;
		height: auto;
		font-size: 0.8rem;
		border-radius: 0.1rem;
		border: 0.1rem solid #FF7900;
		a{
			color: #FF7900;
		}
	}
}


.like_app_list{
	.item{
		width: 100%;
		margin: 0;
		border: none;
		border-bottom: 2px solid #efefef;
		.hheader{
			img{
				border-radius: 50%;
			}
		}
		.hbody{
			width: 9.5rem;
			line-height: 1.1;
			p{
				margin-top: 0.7rem;
				em, span{
					display: block;
					font-size: 0.7rem;
					color: #000;
					font-weight: normal;
				}
				span{
					font-size: 0.5rem;
				  border: 1px solid #ff7800;
				  padding: 0.1rem 0.2rem 0.1rem 0.3rem;
				  width: 16%;
				  margin-left: 0.1rem;
				  color: #ff7800;
				}
			}
			p:first-child{
				font-size: 0.7rem;
				margin: 0;
			}
		}
		.dot{
			display: block;
			height: 100%;
			top: 0.75rem;
			right: 0.3rem;
			font-size: 0.7rem;
			a{
				display: block;
				margin-bottom: 1.35rem;
			}
		}
		&.item1{
			.hbody{
				p{
					span{
						color: #2ec1ae;
					}
				}
			}
		}
	}
	&.like_app_list_mycar{
		.item{
			.hbody{
				p{
					em{
						display: inline-block;
					}
					span{
						width: auto;
						display: inline-block;
				    border: none;
				    color: #000;
				    font-size: 0.7rem;
					}
				}
			}
		}
	}
}

.order_details{
	.inner{
		font-size: 0;
		width: 96%;
		margin: auto;
	}
	.hheader{
		font-size: 0.7rem;
		display: inline-block;
	}
	.hbody{
		font-size: 0.7rem;
		display: inline-block;
		margin-left: 0.5rem;
		p{
			em{
				font-style: normal;
			}
			span{
				margin-left: 6rem;
			}
		}
	}
	.dot{
		width: 96%;
	}
}

.remrow{
	background-color: #fff;
	height: 100%;
	.index{
		height: 100%;
		width: 100%;
		display: table;
		header{
			@include hd;
			height: 10%;
		}
		article{
			@include bd;
			height: 73%;
		}

		footer{
			@include fd;
			a.btn-link{
				background-color: #2EC1AE;
				color: #fff;
				margin:0 auto;
				padding: 0.4rem 0;
				font-size: 1rem;
				height: 1.5rem;
			}
		}
		&.mycar{
			article{
				// height: 21rem;
			}
		}
		&.addcar{
			article{
				// height: 21rem;
				#vin, #engin{
					.body{
						// width: 54%;
					}
					.camera{
						&:before{
							content:"\e600";
							display: block;
							text-align: center;
							font-size: 1.3rem;
							margin-top: -0.1rem;
						}
						width: 12%;
						margin-left: 0.27rem;
						height: 1.4rem;
						padding: 0.15rem;
						border: 2px solid red;
					}
				}
			}
		}
		&.myaddress{
			article{
				//height: 4rem;
				.like_app_list{
					margin-bottom: 1rem;
					.item{
						width: 88%;
						margin: 1rem auto;
						position: relative;
						border: none;
						padding: 0;
						border: 1px solid #999;
						.hbody{
							margin: 0;
							width: auto;
							background-color: #E8F8F7;
							border-bottom: 1px solid #333;
							padding: 0.2rem 0 1rem 0.4rem;
							p{
								font-size: 0.7rem;
								display: inline-block;
							}
							p:first-child{
								font-size: 0.65rem;
							}
						}
						.hfoot{
							margin: 0;
							// border: 2px solid red;
							// border-top: 0;
							p{
								background-color: #F3FCFB;
								padding: 0.6rem 0 0.6rem 0.4rem;
								border-bottom: 1px solid #999;
								font-size: 0.6rem;
								em{
									font-style: normal;
								}
								a{
									display: inline-block;
									margin-left: 2rem;
								}
							}
						}
						.dot{
							position: absolute;
							height: 1rem;
						}
					}
				}
			}
		}
		&.addaddress{
			article{
				//height: 5rem;
				.layout,#address,#name,#phone{
					margin-top: 0.5rem;
				}
				div{
					overflow: visible;
					width: 98%;
				}
				#city, #district,.box{
					display: inline-block;
				}
				.box{
					width: 74%;
				}
				#city{
					width: 50%;
					.body{
						width: 100%;
					}
				}
				#district{
					width: 50%;
					.body{
						width: 100%;
					}
				}
				#address{
					height: 4rem;
					.body{
						height: 3rem;
					}
				}
				label{
					display: inline-block;
					width: 22.5%;
					height: 1rem;
					padding: 0.3rem 0;
					vertical-align: top;
					text-align: center;
					font-size: 0.6rem;
				}
				#zone{
					margin-top: 1rem;

				}
				.ihaved{
			        position: relative;
			        font-size: 0.7rem;
			        padding: 0.8rem 0.6rem;
			        background-color: #fff;
					text-align: center;
			        input[type='checkbox']{
			            display: none;
			        }
			        span{
			            display: inline-block;
			            margin-left: 2rem;
			        }
			        span.chk_span{
			            position: absolute;
			            left: 4rem;
			            top: 0.95rem;
			            width: 0.6rem;
			            height: 0.6rem;
			            border: 2px solid red;
			            margin-right: 0.4rem;
			            margin-left: 0.6rem;
			            &.active{
			                &:before{
			                    content: '';
			                    width: 0.4rem;
			                    height: 0.2rem;
			                    position: absolute;
			                    top: 0.1rem;
			                    left: 0.1rem;
			                    border: 3px solid #333;
			                    border-top: none;
			                    border-right: none;
			                    background: transparent;
			                    transform: rotate(-45deg);
			                }
			            }
			        }
			    }
			}
		}
		&.carstat{
			article{
				@include bd;
				.btn-circle{
					position: relative;
					font-family: "serif";
					margin-top: 1rem;
					width: 8rem;
					height: 8rem;
					line-height: 8rem;
					font-size: 2rem;
					background-color: transparent;
					border: 0.2rem solid #2DC2AF;
					box-shadow: 0rem 0rem 0rem 0.5rem #A8E5DE;
					.title{
						height: 1rem;
						line-height: 1rem;
						font-size: 0.8rem;
						margin: 1.5rem 0 0 0;
					}
					.province{
						height: 1rem;
						line-height: 1rem;
						font-size: 0.7rem;
						margin: 0;
					}
					span{
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom:0;
						display: block;
						color:#FF7900;
						font-weight: bold;
						font-size: 3.4rem;
					}
					span:last-child{
						left: 5.2rem;
						top: 0.7rem;
						font-size: 0.75rem;
						color: #555;
						vertical-align: bottom;
					}
				}
				.profile{
					margin-top: 1.5rem;
					.item{
						margin-bottom: 3rem;
						.hbody{
							margin-top: 2rem;
							text-align: center;
							em, span{
								font-style: normal;
							}
							span{
								margin-left: 1rem;
							}
							p{
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
		&.carlog{
			article{
				.profile{
					width: 92%;
					padding: 4% 4%;
					position: relative;
					height: 100%;
					.center-line{
						position: absolute;
						width: 0.7rem;
						height: 80%;
						left: 47.8%;
						top: 0;
						background-color: #DCDCDC;
						margin-top: 1.5rem;
						border-radius: 0.5rem;
					}
					.item{
						margin-top: 2rem;
						.hbody{
							position: relative;
							p{
								background-color: #eee;
								position: relative;
								font-size: 0.55rem;
								width: 5.6rem;
								border: 2px solid #999;
								border-radius: 0.3rem;
								padding: 2%;
								height: 2.6rem;
								em, span{
									display: block;
									font-style: normal;
								}
								&:first-child{
									background-color: #FF7900;
									border: 2px solid #FF7900;
								}
								&:nth-child(2){
									background-color: #fff;
								}
							}
							.left{
								&:before{
									content: '';
									display: block;
									position: absolute;
									width:0.5rem;
								    height:0.5rem;
									right: -0.28rem;
									top: 0.5rem;
									border-top: 2px solid #999;
									border-right: 2px solid #999;
									@include rotate(45deg);
									background-color: #EEEEEE;
								}
								&:after{
									content: '';
									display: block;
									position: absolute;
									width:0.2rem;
								    height:0.2rem;
									right: -1.24rem;
									top: 0.7rem;
									border-top: 2px solid #999;
									border-right: 2px solid #999;
									background-color: #EEEEEE;
									border-radius: 50%;
								}
							}
							.left-first{
								&:before{
									background-color: #FF7900;
									border: 2px solid #FF7900;
								}
							}
							.right{
								&:before{
									content: '';
									display: block;
									position: absolute;
									width:0.5rem;
								    height:0.5rem;
									left: -0.28rem;
									top: 0.5rem;
									border-top: 2px solid #999;
									border-left: 2px solid #999;
									@include rotate(-45deg);
									background-color: #EEEEEE;
								}
								&:after{
									content: '';
									display: block;
									position: absolute;
									width:0.2rem;
								    height:0.2rem;
									left: -1.24rem;
									top: 0.7rem;
									border-top: 2px solid #999;
									border-right: 2px solid #999;
									background-color: #EEEEEE;
									border-radius: 50%;
								}
							}
							.right-first{
								&:before{
									background-color: #fff;
								}
							}
						}
					}
				}
			}
		}
		&.carfinished{
			article{
				.item{
					position: relative;
					margin-top: 1.5rem;
					.hheader{
						img{
							width: 3rem;
							border-radius: 0.4rem;
						}
					}
					.hbody{
						width: auto;
						p{
							font-size: 0.6rem;
							span{
								margin-left: 4rem;
							}
						}
						p:first-child{
							margin-top: 0.5rem;
						}
					}
					.hfoot{
						margin: 0 auto;
						margin-top: 2rem;
						font-size: 0.6rem;
						display: table;
						width: 100%;
						border-top: 0.5rem solid #F4F5F7;
						p{
							display: table-row;
							height: 1.8rem;
							line-height: 1.8rem;
							em, span{
								padding: 0.5rem;
								border: 0.5rem solid #F4F5F7;
								border-left: 0;
								border-right: 0;
								border-top: 0;
							}
							em{
								display: table-cell;
								font-style: normal;
							}
							span{
								display: table-cell;
								margin-left: 4rem;
								text-align: right;
							}
						}
					}
					.dot{
						position: absolute;
						top: -1.2rem;
						left: 0.4rem;
						border-bottom: 1px solid #999;
						height: auto;
						padding-bottom: 0.17rem;
						p{
							font-size: 0.7rem;
						}
					}
				}
			}

		}
		&.mycaris{
			article{
				.order_table_mycar{
				  font-size: 0.8rem;
				  .foot_order_table_mycar{
				    background: #fff;
				    color: #383838;
				    li{
				      font-size: 0;
				      width: 100%;
				      border-bottom: 1px solid #000;
				      &.item{
				      }
				      .hbody{
				        padding: 0;
								width: 100%;
								font-size: 0
				      }
				      &:first-child{
				        background: #fff;
								border-bottom: 0.05rem solid #000;
				        p{
				          color: #333;
				        }
				      }
				    }
				    p{
				      display: inline-block;
							margin: 0;
							padding: 0;
				      font-size: 0.7rem;
							padding: 0.5rem 0;
				      color: #666;
							text-align: center;
							border-left: 1px solid #000;
							line-height: 0.5rem;
				      &:first-child{
				        width: 10%;
				        color: #333;
				      }
				      &:nth-child(2){
				        text-align: center;
				        width: 22%;
				      }
				      &:nth-child(3){
				        width: 22%;
				      }
							&:nth-child(4){
								width: 13.2222%;
							}
							&:nth-child(5){
								width: 13.2222%;
							}
							&:nth-child(6){
								width: 18%;
							}
				      em{
				        font-style: normal;
				      }
				    }
				  }
				}
			}
		}
	}
}

.coupons_list{
   .item{
	    width: 100%;
		margin: 0;
		border: none;
		border-bottom: 2px solid #e6e6e6;
		overflow: hidden;
        .hheader{
            // background: url(../images/coupons/1.jpg) no-repeat;
            background: none;
			border: 2px solid #dfdfdf;
            width: 3rem;
            height: 3rem;
            background-size: 100%;
			border-radius: 50%;
			&:before{
				font-family:"iconfont" !important;
				font-style:normal;
				content: "\e641";
				font-size: 1.75rem;
				line-height: 2.8rem;
				color: #000;
			}
            a{
                font-size: 0.85rem;
                font-style: normal;
                color: #fff;
                display: none;
                text-align: center;
                line-height: normal;
                i{
                    font-style: normal;
                    font-size: 0.6rem;
                }
            }
        }
        .hbody{
			p:first-child{
				font-size: 0.6rem;
				margin-top: 0.4rem;
				color: #555;
			}
        }
		.hfoot{
			position: absolute;
			color: #666;
			top: 0.8rem;
			right: 1rem;
			margin: 0;
			padding: 0;
			font-size: 0.64rem;
			p{
				margin-bottom: 0.6rem;
			}
		}
        .failure{
                // background: url(../images/coupons/coupons_bg.jpg) no-repeat;
        }
        .dot{
            // display: block;
            top: -40px;
            right: -1%;
            // width: 25%;
            // height: 100%;
            i{
                 width: 40%;
                 height: 40%;
            //     display: block;
            //     text-align: center;
                 font-size: 0.7rem;
            //     font-style: normal;
            //     padding: 0.6rem;
            //     border-radius: 50%;
                 border: 15px solid rgba(255,147,53,.5);
				 @include rotate(-45deg);
				 color: #FF9335;
				 color: rgba(255,147,53,.9);
            //     line-height: normal;
            }
        }
   }
}
.coupons-nav{
    background-color: #EFEFEF;
    .item{
        padding: 0.5rem 0;
        text-align: center;
        a{
            font-size: 0.6rem;
            color: #333;
        }
        &.active{
            background-color: #fff;
        }
    }
}


.s_m_list{
  background: #fff;
  ul{
    li{
      font-size: 0;
      border-bottom: 1px solid #bababa;
      padding: 0.8rem 0.4rem;
    }
  }
  .hhead{
    display: inline-block;
    margin-right: 0.3rem;
  }
  .hbody{
    display: inline-block;
    font-size: 0.8rem;
    vertical-align: middle;
    position: relative;
    p{
      font-size: 0.7rem;
      color: #262626;
    }
    span{
      color: #ff7800;
      font-size: 0.8rem;
      text-align: right;
      i{
        font-style: normal;
        font-size: 0.8rem;
        color: #a0a0a0;
        // text-decoration: line-through;
        margin-right: 0.5rem;
      }
    }
  }
  .s_m_lc_input{
    text-align: left;
    input{
      width: 0.7rem;
      height: 0.7rem;
      display: block;
    }
  }
  .dot{
    top: 40%;
    right: -12%;
    color: #bdbdbd;
    display: block;
  }
  &.s_m_list_1{
    ul{
      li{
        border-bottom: none;
        padding: 0;
        &.active{
          background: #e8f8f6;
          ul{
            display: block;
          }
        }
        ul{
          display: none;
          color: #545454;
          li{
            border-bottom: 1px solid #d9d9d9;
            background: #f3fbfa;
            &.s_m_ltime{
              background: #f7f7f7;
              .hbody{
                text-align: left;
              }
            }
            &.s_m_lcheck{
              background: #fff;
              .s_m_lc_input{
                margin-right: 1.2rem;
              }
            }
            &.disable_li{
              .hbody{
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
    .hbody{
      display: block;
      text-align: right;
      width: 100%;
	  background-color: #F8F8F8;
	  border-bottom: 1px solid #cfcfcf;
	  border-top: 1px solid #efefef;
      padding: 0.8rem 0;
      p{
        text-align: left;
		text-indent: 0.5rem;
        vertical-align: middle;
      }
      em, span{
        padding: 0 0.2rem;
        i{
            margin: 0;
            margin-left: 0.3rem;
        }
        em, span{
            display: inline;
            border:none;
        }
      }
    }
    .hfoot{
        text-align: right;
        width: 100%;
        padding: 0;
        &.u-table{
            display: table;
        }
        p{
          font-size: 0.6rem;
          text-align: center;
          height: 2rem;
          line-height: 2rem;
	      border-bottom: 1px solid #efefef;
        }
        em, span{
          border-bottom: 1px solid #efefef;
          padding: 0 3%;
          em, span{
              i{
                  margin: 0;
                  margin-left: 0.3rem;
              }
              display: inline;
              border:none;
          }
        }
        span{
            text-align: right;
        }
        p:last-child{
            em, span{
                border: none;
            }
        }
    }
    .dot{
      right: 1%;
    }
  }
}
/*手机验证*/
.regist_login{
	width: 80%;
	margin: auto;
	>div{
		margin-bottom: 5%;
	}
	.form{
		&.text{
			height: auto;
			width: 100%;
			padding: 0;
			label{
					display: block;
					width: 100%;
					text-align: left;
			}
			.body{
				width: 100%;
				padding: 3% 0;
			}
		}
	}
	.box{
			width: 100%;
			display: block;
			font-size: 0;
			>div{
					&#code{
						font-size: 0.7rem;
						display: inline-block;
				    width: 57.6%;
						.form{
							width: 98%;
							input{
									padding: 5% 0;
							}
						}
					}
					&#verify_btn{
						display: inline-block;
						width: 40%;
						border: 2px solid #CCC9C9;
						font-size: 0.6rem;
						text-align: center;
						height: 1.7rem;
						line-height: 1.7rem;
						margin-top: 12%;
						margin-left: 2%;
						background: #EFEEEE;
					}
			}
	}
	#now{
    background: #30A296;
    color: #FFFFFF;
    font-size: 0.7rem;
    padding: 0.4rem 0;
    margin-top: 2rem;
	}
}
//地址列表
.addr_list{
	width: 96%;
	margin: auto;
	ul{
		li{
			font-size: 0.6rem;

			&.item{
				float: none;
				margin-top: 1rem;
				.inner{
					border: 0.05rem solid #ddd;
					overflow: hidden;
				}
			}
			.inner{
				width: 100%;
				margin: 0;
				border: none;
				.hbody{
					width: 100%;
					border-bottom: 2px solid #efefef;
					height: 1.5rem;
					line-height: 1.5rem;
					padding: 10px;
					p{
						margin-left: 0.4rem;
						em, span{
							display: inline-block;
							font-size: 0.7rem;
							color: #000;
							font-weight: normal;
						}
						em{
							width: 40%;
							white-space: nowrap;
							overflow: hidden;
							line-height: 1;
							margin-right: 5%;
						}
					}
				}
				.hfoot{
					height: 1.5rem;
					line-height: 1.5rem;
					position: relative;
					p{
						margin-left: 0.4rem;
					}
					a{
						&.ifont{
							position: absolute;
						  top: 0;
						  right: 2%;
						  font-size: 0.7rem;
						}
					}
				}
				.dot{
					display: block;
					height: 100%;
					top: 0.75rem;
					right: 0.3rem;
					font-size: 0.7rem;
					a{
						display: block;
						margin-bottom: 1.35rem;
					}
				}
				&.item1{
					.hbody{
						p{
							span{
								color: #2ec1ae;
							}
						}
					}
				}
			}
		}
	}
}
