<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>Foundation | Welcome</title>
    @@include('../../_common/header/h5_rem_head.html')
  </head>
  <body>
    <header>
      <nav class="tab-bar">
        <section class="lefet-small">
          <i class="icon iconfont"></i>
        </section>
        <section class="middle tab-bar-section">
          <h1>我的优惠券</h1>
        </section>
      </nav>
    </header>
    <div class="wrapper">
      <div class="row">
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <div id="tab-switch-mooc"></div>
        </div>
      </div>
    </div>
    <footer>
      <ul  class="small-block-grid-5">
        <li>
          <a href="#">
            <i class="iconfont">&#xe600;</i>
            首页
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe603;</i>
            选课
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe605;</i>
            亲子活动
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe604;</i>
            课程表
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon iconfont">&#xe601;</i>
            我的账号
          </a>
        </li>
      </ul>
    </footer>
    @@include('../_common/footer/foot.html')
  </body>
</html>
