@import "../../global/_settings/_setting_pages";
@import "../../_copy2dist/iconfont.scss";
html,body{
	height: 100%;
}
body{
	background-color: #fff;
}

@mixin hd {
	display: table-cell;
	background-color: #fff;
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	border-bottom: 1px solid #9f9f9f;
	vertical-align: middle;
	text-indent: 0.4rem;
	color: #999;
	margin-bottom: 0.5rem;
}

@mixin bd {
	display: table-row;
	margin-bottom: 1rem;
	height: 4rem;
}

@mixin fd {
	display: table-cell;
	background-color: #efefef;
	vertical-align: middle;
}

@mixin dot {
	top: 0.46rem;
	right: 0.3rem;
	width: 6rem;
	height: 1rem;
	padding: 0;
	i{
		color: #FF7900;
		padding: 0.3rem 0;
		width: auto;
		height: auto;
		font-size: 0.8rem;
		border-radius: 0.1rem;
		border: 0.1rem solid #FF7900;
		a{
			color: #FF7900;
		}
	}
}

.remrow{
	background-color: #fff;
	height: 100%;
	.index{
		height: 100%;
		width: 100%;
		display: table;
		header{
			@include hd;
			&:before{
				font-family:"iconfont" !important;
				font-style:normal;
				content: "\e63e  ";
			}
		}
		article{
			@include bd;
			div:first-child{
				margin-top: 0.5rem;
			}
			div:last-child{
				margin-bottom: 0.5rem;
			}
			.list-wrap{
				.item{
					border: none;
					.hbody{
						margin-left: 0;
						p{
							color: #666;
							margin:0.4rem 0.4rem;
							em,span{
								font-size: 0.6rem;
								display: inline-block;
								color: #666;
							}
							span{
								float: right;
							}
						}
						p:first-child{
							margin: 0;
							font-size: 0.8rem;
							padding: 0 0 1.2rem 0;
							border-bottom: 2px solid #efefef;
							margin-left: 0.4rem;
							margin-bottom: 1rem;
						}
					}
				}
			}
		}

		footer{
			@include fd;
			a.btn-link{
				background-color: #2EC1AE;
				color: #fff;
				margin:0 auto;
				padding: 0.4rem 0;
				font-size: 1rem;
				height: 1.5rem;
			}
		}
	}
	.esti{
		height: 100%;
		width: 100%;
		display: table;
		header{
			@include hd;
			&:before{
				font-family:"iconfont" !important;
				font-style:normal;
				content: "\e63e  ";
			}
		}
		article{
			@include bd;
			.btn-circle{
				font-family: "serif";
				margin-top: 1rem;
				width: 8rem;
				height: 8rem;
				font-size: 2rem;
				background-color: transparent;
				border: 0.2rem solid #2DC2AF;
				box-shadow: 0rem 0rem 0rem 0.5rem #A8E5DE;
				.title{
					height: 1rem;
					line-height: 1rem;
					font-size: 0.8rem;
					margin: 1.5rem 0 0 0;
				}
				.province{
					height: 1rem;
					line-height: 1rem;
					font-size: 0.7rem;
					margin: 0;
				}
				span{
					color:#FF7900;
					font-weight: bold;
				}
			}
			.profile{
				margin-top: 1rem;
				margin-bottom: 1rem;
				p{
					text-align: center;
					font-size: 0.7rem;
					color: #999;
					margin-bottom: 0.7rem;
				}
				section{
					text-align: center;
					font-size:0.75rem;
				}
			}
		}

		footer{
			@include fd;
			background-color: #fff;
			vertical-align:top;
			.coupons_list{
				.item{
					min-height: 2rem;
					width: 100%;
					margin:0;
					.hheader{
						background:none;
						width: 1rem;
						top: 0.8rem;
						font-size: 1rem;
						&:before{
							font-family:"iconfont" !important;
						    font-style:normal;
							content: "\e640";
						}
						a{
							display: none;
						}
					}
					.hbody{
						margin-left: 2rem;
						p{
							font-size: 0.55rem;
						}
						p:first-child{
							color: #555;
							font-size: 0.75rem;
						}

					}
					.dot{
						@include dot;
					}
				}
			}
		}
	}
}

//侧边弹窗
.sidepop{
	.dot{
		@include dot;
		position: absolute;
		top: 0;
		right:0;
		i{
			padding: 0.3rem 0.3rem;
		}
	}
	header{
		@include hd;
		width: 100%;
		display: block;
	}
	article{
		@include bd;
		padding-left: 0.4rem;
		position: relative;
		display: block;
		p:first-child{
			font-size: 0.7rem;
			margin: 1rem 0 1rem 0;
		}
		h3{
			font-size: 0.6rem;
		}
	}
	footer{
		@include fd;
		background-color: #fff;
		display: block;
		.list-wrap{
			.hbody{
				p{
					color: #666;
					em,span{
						color: #666;
					}
				}
			}
		}
	}
}
