<!doctype html>
<html>
<head>
    <title>fkp大单页架构，单页/路由/react/微信DEMO应用</title>
    @@include('./_common/header/h5_scale_1.html')
</head>
<body>

    @@include('./_common/footer/foot_h5.html')
</body>
</html>
