<!doctype html>
<html>
<head>
    <title>FKP仿热门分类页，无限加载，lazyload图片</title>
    @@include('./_common/header/h5_scale_1.html')
</head>
<body>

    @@include('./_common/footer/foot_h5.html')
</body>
</html>
