<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>websocket聊天室</title>
    @@include('./_common/header/h5_scale_1.html')
  </head>
  <body>
        <div class="index-container">
            <div class="logo">
                <a href="https://www.agzgz.com"><img src="/images/logo128.png"/></a>
            </div>
            <div class="topper">
                <small><a href="http://www.agzgz.com" style="color:#000;" target="_blank">FKPJS</a></small>
                <small style="color:#00de02">QQ群:21336736</small>
                <small style="color:#bbb"><a href="https://github.com/webkixi/FKP-REST" target="_blank">Github</a></small>
            </div>
        </div>

        <div class="index-container">

            <div class="box">
                <div class="box-container">
                    <div class="saloon" id="saloon">

                    </div>
                    <div class="kick" id="kick">
                        <div class="u-center kick-center" id="kick-center">

                        </div>
                    </div>
                </div>
            </div>

            <!-- 页面底部模板 -->
            @@include('./_common/footer/foot.html')
        </div>
    <script type="text/javascript" src='http://www.agzgz.com/js/t/prettfy.js'></script>
  </body>
</html>
