<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
</head>
<body>
@@include('./_common/header/header.html')
<div class="banner slide">
    <ul class="ban_ul banpic">
        <li  data-image="url(/images/banner/banner1.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner2.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner3.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner4.jpg)"><a href='#'></a></li>
    </ul>
    <div class="layer-control">
        <a class="btn_prev" href="javascript:;"></a>
            <div class="pagenationPanel">
                <a class="pagenation pagenationActive"><i></i></a>
            </div>
        <a class="btn_next" href="javascript:;"></a>
    </div>
</div>
<div class="current_path ">
	<div class="container">
		<div class="search_info">
			<h2><i class="nav-icon"></i>联系我们</h2>
			<div class="clearfix">
				<div class="span4">
					<ul class="list-unstyled">
						<li class="clearfix"> 
							<span class="span3 info-wrap">联系电话：</span>
							<p class=" span9 info-wrap">020-38869600-122</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">传真号码：</span>
							<p class=" span9 info-wrap">020-38860635</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">客服邮箱：</span>
							<p class=" span9 info-wrap">service@kingvision.com.cn</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">联系地址：</span>
							<p class=" span9 info-wrap">广东省广州市白云区广州大道北1618号君华香柏广场F4</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">邮政编码：</span>
							<p class=" span9 info-wrap">510510</p>
						</li>
					</ul>
				</div>
				<div class="span8">
					<div id="allmap" class="allmap" style="height:400px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
@@include('./_common/footer/footer.html')
@@include('./_common/footer/foot.html')
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ebW2eQeGL6cjM8CV0DF9FMQX"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<script>
	
	// 百度地图API功能
    var map = new BMap.Map('allmap');
    var poi = new BMap.Point(113.331698,23.18842);
    map.centerAndZoom(poi, 16);
    map.enableScrollWheelZoom();

    var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    '电话：020-38869600-122<br/>传真：020-38860635<br>地址：广州市白云区广州大道北1618号君华香柏广场F4<br/>' +
                  '</div>';

    //创建检索信息窗口对象
    var searchInfoWindow = null;
	searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
			title  : "广州联华电子商务有限公司",      //标题
			width  : 290,             //宽度
			height : 105,              //高度
			panel  : "panel",         //检索结果面板
			enableAutoPan : true,     //自动平移
			searchTypes   :[
				BMAPLIB_TAB_SEARCH,   //周边检索
				BMAPLIB_TAB_TO_HERE,  //到这里去
				BMAPLIB_TAB_FROM_HERE //从这里出发
			]
		});
    var marker = new BMap.Marker(poi); //创建marker对象
    marker.enableDragging(); //marker可拖拽
	    searchInfoWindow.open(marker);
    map.addOverlay(marker); //在地图中添加marker
</script>
</body>
</html>