<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
</head>

<body>
@@include('./_common/header/header.html')
<div class="header">
    <div class="head_top">
        <div class="container">
            <h4><i></i>您好，欢迎来到联交所！</h4>
            <ul class="head_tcom fr clearfix">
                <li><a href="#" data-toggle="modal" data-target="#myModal">会员登录</a></li>
                <li><a href="regist.html">会员注册</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
            <ul class="head_tcom fr clearfix disN">
                <li><a href="#">欢迎您： 林小姐</a></li>
                <li><a href="#">帮助中心</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="head_wrap">
        <div class="container clearfix">
            <a href="/dazong" class="head_wlogo fl"></a>
            <div class="head_wnav fl">
                <div class="head_search clearfix">
                    <div class="head_look">
                        <div class="item-select">
                          <a class="arrow-select-down"><span>全部</span><i class="all_icon s_down_icon"></i></a>
                          <ul class="hidden">
                            <li>铜</li>
                            <li>铅</li>
                          </ul>
                        </div>
                        <input type="text" class="search_text" placeholder="请输入关键字"/><input type="button" class="search_buttom" value="搜索"/>
                    </div>
                    <div class="top-tel">
                        <h4><span class="all_icon icon_tel"></span>客服热线<span class="top-tel-time">09:00-17:30</span></h4>
                        <span class="top-tel-num">400-8811-148</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="head_nav">
        <ul class="container clearfix">
            <li class="active"><a href="index.html">首页</a></li>
            <li class="nav-line"></li>
            <li>
                <a href="info.html">宏观资讯</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">行业信息</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">行业资讯</a></li>
                    <li><a href="info.html">产品行情</a></li>
                    <li><a href="info.html">今日报价</a></li>
                    <li><a href="info.html">行业报告</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li><a href="index-item.html">金属商城</a></li>
            <li class="nav-line"></li>
            <li>
                <a href="#">市场行情</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">宏观市场行情</a></li>
                    <li><a href="info.html">有色金属行情</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">业内视点</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">会展交流</a></li>
                    <li><a href="info.html">媒体报道</a></li>
                    <li><a href="info.html">企业新闻</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">机构观察</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">联华讲堂</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
            <li class="nav-line"></li>
            <li>
                <a href="#">求购信息</a>
                <ul class="dropdown_menus">
                    <li><a href="info.html">国际视野</a></li>
                    <li><a href="info.html">国内热点</a></li>
                </ul>
            </li>
        </ul>
    </div>    
</div>
<div class="banner slide">
  <div id="product-slider" class="rsDefault">
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner1.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner2.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner3.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner4.jpg"/></a>
  </div>
</div>

<div class="current_path ">
	<div class="container">
		<div class="search_info">
			<h2><i class="nav-icon"></i>联系我们</h2>
			<div class="clearfix">
				<div class="span4">
					<ul class="list-unstyled">
						<li class="clearfix"> 
							<span class="span3 info-wrap">联系电话：</span>
							<p class=" span9 info-wrap">020-38869600-122</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">传真号码：</span>
							<p class=" span9 info-wrap">020-38860635</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">客服邮箱：</span>
							<p class=" span9 info-wrap">service@kingvision.com.cn</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">联系地址：</span>
							<p class=" span9 info-wrap">广东省广州市白云区广州大道北1618号君华香柏广场F4</p>
						</li>
						<li class="clearfix">
							<span class="span3 info-wrap">邮政编码：</span>
							<p class=" span9 info-wrap">510510</p>
						</li>
					</ul>
				</div>
				<div class="span8">
					<div id="allmap" class="allmap" style="height:400px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
@@include('./_common/footer/footer.html')
@@include('./_common/footer/foot.html')
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ebW2eQeGL6cjM8CV0DF9FMQX"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<script>
	
	// 百度地图API功能
    var map = new BMap.Map('allmap');
    var poi = new BMap.Point(113.331698,23.18842);
    map.centerAndZoom(poi, 16);
    map.enableScrollWheelZoom();

    var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                    '电话：020-38869600-122<br/>传真：020-38860635<br>地址：广州市白云区广州大道北1618号君华香柏广场F4<br/>' +
                  '</div>';

    //创建检索信息窗口对象
    var searchInfoWindow = null;
	searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
			title  : "广州联华电子商务有限公司",      //标题
			width  : 290,             //宽度
			height : 105,              //高度
			panel  : "panel",         //检索结果面板
			enableAutoPan : true,     //自动平移
			searchTypes   :[
				BMAPLIB_TAB_SEARCH,   //周边检索
				BMAPLIB_TAB_TO_HERE,  //到这里去
				BMAPLIB_TAB_FROM_HERE //从这里出发
			]
		});
    var marker = new BMap.Marker(poi); //创建marker对象
    marker.enableDragging(); //marker可拖拽
	    searchInfoWindow.open(marker);
    map.addOverlay(marker); //在地图中添加marker
</script>
</body>
</html>