<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>一起来使用mongo</title>
    @@include('./_common/header/h5_scale_1.html')
    <link rel="stylesheet" href="/css/t/markdown.css">
    <style>
        .container{
            width: 100%;
            margin-left: -10px;
            margin-right: -10px;
        }
        .side{
            position: relative;
        }
        .side-menu{
            position: fixed;top: 10.5em;
        }
    </style>
  </head>
  <body>
        <div class="index-container">
            <div class="logo">
                <img src="/images/logo128.png"/>
            </div>
            <div class="topper">
                <!-- 登录 -->
                {{{topper}}}
                <small style="color:#bbb">登陆后尝试左右拖动一条博客</small>
            </div>
        </div>

        <div class="index-container">

            <!-- 文章列表/内容部分 -->
            @@include('./_index/topic.html')

            <!-- 页面底部模板 -->
            @@include('./_common/footer/foot.html')
        </div>
    <script type="text/javascript" src='http://www.agzgz.com/js/t/prettfy.js'></script>
  </body>
</html>
