<!doctype html>
<html lang="en">
    <head>
        <title>Tabs</title>
        @@include('./_common/header/head.html')
    </head>
    <body>
        <div class="container">
            <div class="hlist harticle">
                <div class="item">
                    <div class="hheader">
                        <h1>FORM表单DEMO</h1>
                    </div>
                    <div class="hbody">
                        <div class="part">
                            <h2>纵向双列tabs</h2>
                            {{{tabs}}}
                        </div>
                        <div class="part">
                            <h2>横向双层tabs</h2>
                            <div id="for-htabs"> </div>
                        </div>
                    </div>
                    <div id="addtab"> </div>
                </div>
            </div>
        </div>
        @@include('./_common/footer/foot.html')
    </body>
</html>
