<!DOCTYPE html>
<html lang="en">

<head>
  <title> {{mdcontent.title}}-MARKDOWN文档系统</title>
  @@include('./_common/docs/header.html')
</head>

<body>
    <div class="page" data-module="">
        @@include('./_demoindex/top.html')
        <div class="doc-container">
            <div class="left">
                {{{menutree}}}
                <!-- react container -->
                <div id="mtree"></div>
            </div>
                <div class="right">
                  @@include('./_demoindex/detail.html')
                  <div class="hheader demo">
                      @@include('./_common/docs/home.html')
                  </div>
            </div>
        </div>
    </div>


    <div id="footer">
        <div class="footer-content">
            <p>老板，JS现在才应该是中小企业的互联网项目的最佳切入姿势。。。</p>
            <p class="copyright">
            ©2016 FKP
            </p>
        </div>
        @@include('./_common/footer/foot_markdown.html')
    </div>

</body>

</html>
