<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
</head>
<body>
@@include('./_common/header/header.html')
<div class="banner slide">
    <ul class="ban_ul banpic">
        <li  data-image="url(/images/banner/banner1.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner2.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner3.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner4.jpg)"><a href='#'></a></li>
    </ul>
    <div class="layer-control">
        <a class="btn_prev" href="javascript:;"></a>
            <div class="pagenationPanel">
                <a class="pagenation pagenationActive"><i></i></a>
            </div>
        <a class="btn_next" href="javascript:;"></a>
    </div>
</div>
<div class="wrapper">
    <div class="current_path container">
        <a href="#">首页</a> > <a class="currents"> 帮助中心 </a>
    </div>
    <div class="info-wrap">
        <div class="container">
            <div class="clearfix row">
                <div class="info-left span2 helf-left">
                    <h3><a href="#"><i class="nav-icon"></i>帮助中心</a></h3>
                    <ul id="myTab">
                        <li class="active"><a href="#myTab_h1" data-toggle="tab">会员认证</a></li>
                        <li><a href="#myTab_h2" data-toggle="tab">找回密码</a></li>
                        <li><a href="#myTab_h3" data-toggle="tab">入市须知</a></li>
                        <li><a href="#myTab_h4" data-toggle="tab">常见问题</a></li>
                        <li><a href="#myTab_h5" data-toggle="tab">联系客服</a></li>
                    </ul>
                </div>
                <div id="myTabContent" class="info-main span10 tab-content tab_helf">
                    <div class="sort_product tab-pane fade in active" id="myTab_h1">
                        <ul>
                            <li>
                                <em> 认证会员与普通会员区别？</em>
                                <div class="tab_helpdiv">平台会员分为普通会员与交易（认证）会员，初级会员只具备基本信息浏览权限，交易会员具备在交易平台进行交易的权限和享受平台提供的相关增值服务。</div>
                            </li>
                            <li>
                                <em> 如何成为认证会员？</em>
                                <div class="tab_helpdiv">
                                    <dl>
                                        <dd> 1. 先注册成为普通会员。</dd>
                                        <dd> 2. 注册成为普通会员后，登录进入会员中心。</dd>
                                        <dd> 3. 进入会员中心的”我的账号”->"用户认证"。</dd>
                                        <dd> 4. 上传“企业营业执照”、“组织机构代码”和“税务登记证”。</dd>
                                        <dd> 5. 收到会员的认证申请资料后，平台3个工作日内核实会员认证资料的真实性，并进行资格评审，评审通过后正式成为认证会员。</dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h2">
                        <dl>
                            <dt>会员忘记登录密码，可通过注册手机的短信验证码进行取回密码和重置密码，具体步骤如下：</dt>
                            <dd>1. 进入“找回密码”页面。<br/>在“会员登录”页面，点击“忘记密码”链接进入“找回密码"页面</dd>
                            <dd>2. 验证手机。<br/>输入注册时的手机号码，点击“获取短信验证码”，收到手机短信验证码后，输入验证码，点击“验证手机"。</dd>
                            <dd>3. 设置新密码。<br/>验证手机成功后，进入“设置新密码”页面输入新密码，确认提交完成取回密码和新密码修改设置。</dd>
                        <dl>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h3">
                        <ul>
                            <li>
                                <em>一、申请交易平台交易（认证）会员,必须具备以下条件：</em>
                                <div class="tab_helpdiv">
                                    <dl>
                                        <dd> 1、经工商部门登记注册的有色金属等相关行业的境内企业法人；</dd>
                                        <dd> 2、具有固定的经营场所和相应的配套设施、必要的组织机构和完善的规章制度；</dd>
                                        <dd> 3、承诺遵守交易平台的交易规则、规章制度和公告等；</dd>
                                        <dd> 4、交易平台要求具备的其它条件；</dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <em>二、申请成为交易平台交易（认证）会员须先注册成为交易平台的初级会员，再提供下列文件和资料：</em>
                                <div class="tab_helpdiv">
                                    <dl>
                                        <dd>1、通过交易平台办公地点现场递交<br/>
                                            <p>A.营业执照副本复印件（加盖公章）；</p>
                                            <p>B.税务登记证副本复印件（加盖公章）；</p>
                                            <p>C.组织结构代码证副本复印件（加盖公章）。</p>
                                        </dd>
                                        <dd>2、直接通过交易平台网站递交：<br/>
                                            <p>A.营业执照副本扫描件；</p>
                                            <p>B.税务登记证副本扫描件；</p>
                                            <p>C.组织结构代码证副本扫描件。</p>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <em>三、交易（认证）会员确保提交资料的真实、有效、合法</em>
                                <div class="tab_helpdiv">交易（认证）会员要确保提供给交易平台的联系电话、地址、证件等资料真实、合法、有效。如有变更，应及时在交易平台的网站或通知交易平台的工作人员更新，以免影响在交易平台的权益。</div>
                            </li>
                            <li>
                                <em>四、网上交易风险提示</em>
                                <div class="tab_helpdiv">交易（认证）会员通过我交易平台提供的网上交易系统进行交易，交易（认证）会员须认真阅读和理解《注册协议》。</div>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h4">
                        <ul>
                            <li>
                                <em> 什么是现货挂牌交易</em>
                                <div class="tab_helpdiv">现货挂牌交易的是指在交易平台规定的产品范围内，会员通过互联网电子交易系统发布供货信息和合同要约，一旦合同要约被对方会员接受成交即签订电子交易合同，买卖双方按照合同条款进行实物交割和结算的一种交易模式。该电子交易合同不可变更、不可撤销、不可转让。</div>
                            </li>
                            <li>
                                <em> 交易平台目前可交易的品种有哪些</em>
                                <div class="tab_helpdiv">交易平台目前可交易的品种主要包括：铜、铝、铅、锌，其中铜包括电解铜和铜杆，交易平台会根据市场情况不断地增加交易品种</div>
                            </li>
                            <li>
                                <em> 挂牌交易的“交易报价”指什么</em>
                                <div class="tab_helpdiv">挂牌交易的”交易价格“是指符合相关挂牌电子交易合同中双方约定的标的物在约定地点交货的含增值税价格。<br/>报价货币为人民币，单位为元/吨，有色金属品种挂牌交易的计量单位为“吨”，货物重量的允许磅差为千分之一，重量误差在磅差范围内的不构成违约。</div>
                            </li>
                            <li>
                                <em> 现货挂牌交易时间</em>
                                <div class="tab_helpdiv">现货挂牌交易的交易时间为：每周一至周五（国家法定节假日除外），日盘9：00时至15：00时，夜盘：21:00时-凌晨1:00时。<i>注意：交易时间是以交易系统显示的时间为准，可能与个人计算机所显示的时间有一定出入，请以交易系统时间为准，以免影响您的交易。</i></div>
                            </li>
                            <li>
                                <em> 会员类型有哪些</em>
                                <div class="tab_helpdiv">会员分初级（普通）会员和交易（认证）会员。<br/>初级会员只具备基本信息浏览权限，交易会员具备在交易平台进行交易的权限和享受平台提供的相关增值服务。要想成为交易平台的交易会员，先要在交易平台注册成初级会员，成为初级会员后再向交易平台申请并递交企业相关证照经交易平台审核批准后方能获取交易资格和相关服务</div>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h5">
                        <div class="clearfix helf-kf">
                            <img src="statics/front/images/helf-kf.png">
                            <div class="hlef-kfcom fl">
                                <p>客服热线：020-38869600-122<p>
                                <p>服务时间：9:00--18:00（工作日）<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('./_common/footer/footer.html')
@@include('./_common/footer/foot.html')
</body>
</html> 