<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('./_common/header/head.html')
</head>
<body>
@@include('./_common/header/header.html')
<div class="banner slide">
    <ul class="ban_ul banpic">
        <li  data-image="url(/images/banner/banner1.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner2.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner3.jpg)"><a href='#'></a></li>
        <li  data-image="url(/images/banner/banner4.jpg)"><a href='#'></a></li>
    </ul>
    <div class="layer-control">
        <a class="btn_prev" href="javascript:;"></a>
            <div class="pagenationPanel">
                <a class="pagenation pagenationActive"><i></i></a>
            </div>
        <a class="btn_next" href="javascript:;"></a>
    </div>
</div>
<div class="wrapper">
    <div class="current_path container">
        <a href="#">首页</a> > <a class="currents"> 帮助中心 </a>
    </div>
    <div class="info-wrap">
        <div class="container">
            <div class="clearfix row">
                <div class="info-left span2 helf-left">
                    <h3><a href="#"><i class="nav-icon"></i>帮助中心</a></h3>
                    <ul id="myTab">
                        <li class="active"><a href="#myTab_h1" data-toggle="tab">会员认证</a></li>
                        <li><a href="#myTab_h2" data-toggle="tab">找回密码</a></li>
                        <li><a href="#myTab_h3" data-toggle="tab">入市须知</a></li>
                        <li><a href="#myTab_h6" data-toggle="tab">现货交易</a></li>
                        <li><a href="#myTab_h4" data-toggle="tab">常见问题</a></li>
                        <li><a href="#myTab_h5" data-toggle="tab">联系客服</a></li>
                    </ul>
                </div>
                <div id="myTabContent" class="info-main span10 tab-content tab_helf">
                    <div class="sort_product tab-pane fade in active" id="myTab_h1">
                        <ul>
                            <li>
                                <em> 认证会员与普通会员区别？</em>
                                <div class="tab_helpdiv">平台会员分为普通会员与交易（认证）会员，初级会员只具备基本信息浏览权限，交易会员具备在交易平台进行交易的权限和享受平台提供的相关增值服务。</div>
                            </li>
                            <li>
                                <em> 如何成为认证会员？</em>
                                <div class="tab_helpdiv">
                                    <dl>
                                        <dd> 1. 先注册成为普通会员。</dd>
                                        <dd> 2. 注册成为普通会员后，登录进入会员中心。</dd>
                                        <dd> 3. 进入会员中心的”我的账号”->"用户认证"。</dd>
                                        <dd> 4. 上传“企业营业执照”、“组织机构代码”和“税务登记证”。</dd>
                                        <dd> 5. 收到会员的认证申请资料后，平台3个工作日内核实会员认证资料的真实性，并进行资格评审，评审通过后正式成为认证会员。</dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h2">
                        <dl>
                            <dt>会员忘记登录密码，可通过注册手机的短信验证码进行取回密码和重置密码，具体步骤如下：</dt>
                            <dd>1. 进入“找回密码”页面。<br/>在“会员登录”页面，点击“忘记密码”链接进入“找回密码"页面</dd>
                            <dd>2. 验证手机。<br/>输入注册时的手机号码，点击“获取短信验证码”，收到手机短信验证码后，输入验证码，点击“验证手机"。</dd>
                            <dd>3. 设置新密码。<br/>验证手机成功后，进入“设置新密码”页面输入新密码，确认提交完成取回密码和新密码修改设置。</dd>
                        <dl>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h3">
                        <ul>
                            <li>
                                <em>一、申请交易平台交易（认证）会员,必须具备以下条件：</em>
                                <div class="tab_helpdiv">
                                    <dl>
                                        <dd> 1、经工商部门登记注册的有色金属等相关行业的境内企业法人；</dd>
                                        <dd> 2、具有固定的经营场所和相应的配套设施、必要的组织机构和完善的规章制度；</dd>
                                        <dd> 3、承诺遵守交易平台的交易规则、规章制度和公告等；</dd>
                                        <dd> 4、交易平台要求具备的其它条件；</dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <em>二、申请成为交易平台交易（认证）会员须先注册成为交易平台的初级会员，再提供下列文件和资料：</em>
                                <div class="tab_helpdiv">
                                    <dl>
                                        <dd>1、通过交易平台办公地点现场递交<br/>
                                            <p>A.营业执照副本复印件（加盖公章）；</p>
                                            <p>B.税务登记证副本复印件（加盖公章）；</p>
                                            <p>C.组织结构代码证副本复印件（加盖公章）。</p>
                                        </dd>
                                        <dd>2、直接通过交易平台网站递交：<br/>
                                            <p>A.营业执照副本扫描件；</p>
                                            <p>B.税务登记证副本扫描件；</p>
                                            <p>C.组织结构代码证副本扫描件。</p>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <em>三、交易（认证）会员确保提交资料的真实、有效、合法</em>
                                <div class="tab_helpdiv">交易（认证）会员要确保提供给交易平台的联系电话、地址、证件等资料真实、合法、有效。如有变更，应及时在交易平台的网站或通知交易平台的工作人员更新，以免影响在交易平台的权益。</div>
                            </li>
                            <li>
                                <em>四、网上交易风险提示</em>
                                <div class="tab_helpdiv">交易（认证）会员通过我交易平台提供的网上交易系统进行交易，交易（认证）会员须认真阅读和理解《注册协议》。</div>
                            </li>
                        </ul>
                    </div>
                    <div class="jygz tab-pane fade" id="myTab_h6">
                        <ul>
                            <li>
                                <em>广州联华实业发展有限公司现货挂牌交易规则（试行）</em>
                                <div class="tab_helpdiv">
                                    <h4>第一章 总则</h4>
                                    <p>第一条 为了保障广州联华实业发展有限公司（以下简称“联商所”）现货挂牌业务的正常运行，根据国家有关法律法规及联商所相关制度，本着公平、公正、公开的原则制定本规则。</p><br/>
                                    <p>第二条 联商所交易系统为买卖双方会员提供互联网交易平台，会员在该平台上进行买卖行为应诚信经营，认真履行已成交的合同。</p><br/>
                                    <p>第三条 本规则适用于联商所的现货挂牌交易活动，拥有交易资格的会员（以下简称“交易会员”）、联商所等均须遵守本规则。</p><br/><br/>
                                    <h4>第二章 术语和定义</h4>
                                    <p>第四条 “交易系统”是指联商所用于提供现货挂牌电子交易的互联网电子交易系统。</p><br/>
                                    <p>第五条 “现货挂牌交易”是指在联商所规定的产品范围内，会员通过互联网电子交易系统发布供货信息和合同要约，一旦合同要约被对方会员接受成交即签订合同，买卖双方按照合同条款进行结算和实物交割的一种交易模式。该合同不可变更、不可撤销、不可转让。</p><br/>
                                    <p>第六条 “交易会员”是指承认并遵守本规则及联商所公布的相关管理制度、协议和公告等，经过联商所审核通过在联商所交易系统从事商品交易的企业法人。交易会员应严格保管其账号和密码，所有基于其账号进行的交易操作，均视为其本人的交易。</p><br/>
                                    <p>第七条 “摘牌” 是指买方会员通过联商所系统对挂牌方发布的产品进行应约、接受交易条件以及进行承诺、形成合同，买方（以下称为“摘牌方”）和挂牌方享受合同规定下的权利和履行合同约定的义务。</p><br/>
                                    <p>第八条 “点价” 是指在现货挂牌交易模式里，以某月份的期货价格为计价基础，以期货价格加上或减去升贴水来确定买卖现货商品价格的交易方式。</p><br/>
                                    <p>第九条 “基价”是指在有效点价期内，点价方按照约定的期货交易所合约以盘面挂单方式向被点价方书面或按双方约定方式点价，被点价方根据实际成交情况签字回传确认点价结果，确认的成交价格作为本批次对应点价成交数量的基价。</p><br/>
                                    <p>第十条“合同”是指会员之间通过联商所交易系统签订的购销合同, 买卖双方签订合同即视为作出承诺。</p><br/>
                                    <p>第十一条 “升贴水”是点价交易方式中价格的组成部分之一，由挂牌方确定，升水为正、贴水为负。</p><br/>
                                    <p>第十二条 “起订量”是指挂牌方在挂牌时，规定摘牌方的最小采购量。</p><br/>
                                    <p>第十三条 “最小变动单位”是指挂牌方在挂牌时，在确定起订量之后，允许摘牌方每次最少增减的采购量。</p><br/>
                                    <p>第十四条“溢短”是指挂牌方的实际交收重量可以多于或少于挂牌方和摘牌方双方签订的合同中约定的货物重量的一定幅度。</p><br/><br/>
                                    <h4>第二章 术语和定义</h4>
                                    <p>第十五条 联商所设立现货交易品种数据库，只要在交易品种数据库中存在且质量符合标准的商品均可进行现货挂牌交易。交易会员如需交易其它未注册品种时，应提供该品种国家或行业认可的商品质量标准，并经交易平台批准，方可进行交易。</p><br/>
                                    <p>第十六条 现货挂牌交易的交易时间为每周一至周五（国家法定节假日及交易平台公告的停止交易日除外）：上午九点到下午五点，交易的开始和终止时间以联商所交易系统时间为准。联商所有权根据实际情况调整交易时间，并及时在网站公布。联商所认为必要时，有权决定延时开市、延时收市、提前收市或暂停交易等活动。</p><br/>
                                    <p>第十七条 交易会员根据交易系统的标准信息格式发布报价和要约挂牌，并对要约内容的真实性承担法律责任。</p><br/>
                                    <p>第十八条 参与交易的双方会员同意采用联商所制定的《购销合同》文本，并承诺遵守该文本条款的约定。会员在联商所的所有交易，须通过联商所交易系统订立合同。 </p><br/>
                                    <p>第十九条 联商所分别向挂牌方和摘牌方会员收取会员费、交易手续费和交收手续费，费用标准由联商所制定。</p><br/>
                                    <p>第二十条 挂牌交易的交易报价是指含增值税的价格，单位为“元/吨”，有色金属品种挂牌交易的计量单位为“吨”。</p><br/>
                                    <p>第二十一条 交易程序<br/>
                                        （一）挂牌方发布信息<br/>
                                         挂牌方须将销售商品提交到联商所的交易系统中发布。<br/>
                                        （二）摘牌方应约、摘牌、签订合同<br/>
                                         摘牌方可通过联商所交易系统查询挂牌方的销售挂牌信息，从中选择符合自己要求的商品，输入相关要素、填写合同后摘牌，形成合同。<br/> 
                                        （三）如果计价方式是“固定价”的，在挂牌方和摘牌方签订合同后，交易系统自动统计合同成交的有关数据，双方根据签订的合同完成货款划拨和货权转移。如果计价方式是“点价”的，合同的执行价格和合同总金额需要待“点价”之后才能确定；点价完成之后，点价方须将相关数据信息如点价时间、价格等提供给联商所。 <br/>
                                        （四）成交原则<br/>
                                         联商所交易系统的成交原则是“时间优先”。挂牌方和摘牌方认可合同的签订地点为联商所注册所在地。
                                    </p><br/><br/>
                                    <h4>第四章 结算和交收</h4>
                                    <p>第二十二条  挂牌方的要约和摘牌方的应约经交易系统成交后，即视为双方签订了不可撤销和不可变更的合同，双方应严格按照合同的约定进行货款结算和货物交收。</p><br/>
                                    <p>第二十三条  通过联商所交易系统成交的合同，结算和交收由挂牌方和摘牌方双方通过线下完成。如有会员提出要求，联商所可以为会员结算和交收提供一定的协调和支持。</p><br/>
                                    <h4>第五章 对会员违规行为的处理</h4>
                                    <p>第二十四条 具有下列行为之一的，构成违规：<br/>
                                    （一） 在约定付款期限内买方未能足额支付货款的或卖方未按约定时间交货的；<br/>
                                    （二） 在约定交收期限内卖方交付货物与所挂牌商品信息不符的，买卖双方协商不成的；<br/>
                                    （三）卖方交付的货物重量短溢超过5%的，买卖双方协商不成的；<br/>
                                    （四）卖方未按约定向买方提交发票的；<br/>
                                    (五) 点价方未在规定期限内点价或未按合同约定数量进行点价。<br/>
                                    （六）其他违反买卖双方合同约定的行为。</p><br/>
                                    <p>第二十五条 若交易会员发生以上违约行为，挂牌方和摘牌方自行协商解决。若协商不成，违约方须向守约方支付违约金。</p><br/>
                                    <p>第二十六条  对交易会员，在一年内出现一次第二十四条约定情形联商所有权作出警告；出现第二十四条约定二次以上（含二次）情形，联商所有权作出限制交易、注销会员资格等处理，对于触犯国家相关法律法规的，联商所将协助司法机关追究其责任。</p><br/><br/>
                                    <h4> 第六章 免责</h4>
                                    <p>第二十七条 交易会员之间在交易过程中发生的任何纠纷，可自行协商解决，也可提交仲裁或诉讼，联商所可从中协调，但联商所不对会员之间的交易及纠纷承担任何责任。</p><br/>
                                    <h4>第七章 附则</h4>
                                    <p>第二十八条 本规则解释权属于联商所。</p><br/>
                                    <p>第二十九条 联商所有权根据交易会员的需求和实际情况，对本规则进行修订。根据本规则修订的管理办法属本规则不可分割的部分，与本规则具有同等法律效力，修订的管理办法自颁布之日起生效。</p><br/>
                                    <p>《会员注册协议》和《购销合同》作为本规则附件和本规则具有同等法律效力。</p><br/>
                                    <p>第三十条 本规则自颁布之日起实施。</p><br/>
                                    <span>广州联华实业发展有限公司</span><span>二零一五年七月一日</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h4">
                        <ul>
                            <li>
                                <em> 什么是现货挂牌交易</em>
                                <div class="tab_helpdiv">现货挂牌交易的是指在交易平台规定的产品范围内，会员通过互联网电子交易系统发布供货信息和合同要约，一旦合同要约被对方会员接受成交即签订电子交易合同，买卖双方按照合同条款进行实物交割和结算的一种交易模式。该电子交易合同不可变更、不可撤销、不可转让。</div>
                            </li>
                            <li>
                                <em> 交易平台目前可交易的品种有哪些</em>
                                <div class="tab_helpdiv">交易平台目前可交易的品种主要包括：铜、铝、铅、锌，其中铜包括电解铜和铜杆，交易平台会根据市场情况不断地增加交易品种</div>
                            </li>
                            <li>
                                <em> 挂牌交易的“交易报价”指什么</em>
                                <div class="tab_helpdiv">挂牌交易的”交易价格“是指符合相关挂牌电子交易合同中双方约定的标的物在约定地点交货的含增值税价格。<br/>报价货币为人民币，单位为元/吨，有色金属品种挂牌交易的计量单位为“吨”，货物重量的允许磅差为千分之一，重量误差在磅差范围内的不构成违约。</div>
                            </li>
                            <li>
                                <em> 现货挂牌交易时间</em>
                                <div class="tab_helpdiv">现货挂牌交易的交易时间为：每周一至周五（国家法定节假日除外），日盘9：00时至15：00时，夜盘：21:00时-凌晨1:00时。<i>注意：交易时间是以交易系统显示的时间为准，可能与个人计算机所显示的时间有一定出入，请以交易系统时间为准，以免影响您的交易。</i></div>
                            </li>
                            <li>
                                <em> 会员类型有哪些</em>
                                <div class="tab_helpdiv">会员分初级（普通）会员和交易（认证）会员。<br/>初级会员只具备基本信息浏览权限，交易会员具备在交易平台进行交易的权限和享受平台提供的相关增值服务。要想成为交易平台的交易会员，先要在交易平台注册成初级会员，成为初级会员后再向交易平台申请并递交企业相关证照经交易平台审核批准后方能获取交易资格和相关服务</div>
                            </li>
                        </ul>
                    </div>
                    <div class="sort_product tab-pane fade" id="myTab_h5">
                        <div class="clearfix helf-kf">
                            <img src="/images/helf-kf.png">
                            <div class="hlef-kfcom fl">
                                <p>客服热线：020-38869600-122<p>
                                <p>服务时间：9:00--18:00（工作日）<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('./_common/footer/footer.html')
@@include('./_common/footer/foot.html')
</body>
</html> 