
<!doctype html>

<html lang="en">
<head>
<title>联华大宗-我的文章</title>
@@include('./_common/header/head.html')
</head>

<body>
@@include('./_common/header/header.html')
<div class="wrapper">
    <div class="current_path container">
        <a href="#">首页</a> > <a href="#">会员中心</a> > <a href="#">我的订单</a> > <a class="currents"> 订单详情 </a>
    </div>
    <div class="myaccount_main">
        <div class="container">
            <div class="row clearfix">
                <div class="account_l fl col-lg-2">
                    <div class="account_nav">
                        <dl>
                            <dt><i class="nav-icon"></i>会员中心</dt>
                            <dd><a href="myaccount.html">我的账号</a></dd>
                            <dd><a href="mygoods.html">我的商品</a></dd>
                            <dd class="active"><a href="#">我的订单</a></dd>
                            <dd><a href="#">我的求购</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="account_r fl col-lg-10">
                    <div class="ele_contract" print-content="contract">
                      <div class="ele_comt">
                        <div class="ele_chead">
                          <h2>联华商品交易平台电子购销合同</h2>
                          <ul>
                            <li>合同编号：LH2015063000001</li>
                            <li>签订地点：广东省广州市</li>
                            <li>签订时间：2015-06-08 11:21:33(服务器时间)</li>
                          </ul>
                        </div>
                        <div class="ele_cmain">
                          <h3>甲方(卖方)名称：广东有色金属贸易有限公司</h3>
                          <h3>乙方(买方)名称：佛山广昌商行</h3><br/>
                          <em>一、商品信息、数量和金额</em>
                          <table class="table ">
                            <thead>
                              <tr>
                                <th>类别</th>
                                <th>商品名称</th>
                                <th>品牌</th>
                                <th>仓库</th>
                                <th>规格型号</th>
                                <th>数量</th>
                                <th>单位</th>
                                <th>基价</th>
                                <th>升贴水</th>
                                <th>点价时间</th>
                                <th>总金额(元)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>铜</td>
                                <td>铜线</td>
                                <td>铁锋</td>
                                <td>南储</td>
                                <td>A级铜</td>
                                <td>200.80</td>
                                <td>吨</td>
                                <td>上期所CU1506</td>
                                <td>100</td>
                                <td>2015-06-10 10:00:00</td>
                                <td>(基价+升贴水)*数量</td>
                              </tr>
                              <tr>
                                <td colspan="11" class="ele_cmoney"><b>合计（大写）：</b>(上期所CU1506 + 100) * 200.80</td>
                              </tr>
                            </tbody>
                          </table>
                          <em>二、交货方式</em>
                          <span>买家自提</span>
                          <p>自提地址：广东省佛山市那南海区高新1路国际高新产业园B区1栋。</p>
                          <em>三、资金结算支付方式</em>
                          <p>线下支付</p>
                          <p>线下支付</p>
                          <em>四、合理损耗及计算方式</em>
                          <p>以仓库出库单为准，合力磅差为±1‰。</p>
                          <p>货款结算方式：全款</p>
                          <em>五、解决合同纠纷的方式</em>
                          <p>买卖双方友好协商解决，协商不成，则向合同签订地所在地法院提起诉讼。</p>
                          <em>六、验货办法、质量标准及违约条款</em>
                          <p>1、买方应从速检验卖方所交商品，如有质量异议的，应于交货之日起 5 个工作日内通知卖方，卖方需在 3 个工作日内回复相关问题，双方本着协商的原则解决质量问题。</p>
                          <p>2、质量技术标准要求：按厂家标准。</p>
                          <p>3、包装方式：厂家出厂包装。</p>
                          <p>4、卖方延迟交货的，每延迟一日须向买方支付相当于未提货物价值  0.5‰ 的滞纳金。</p>
                          <p>5、任何一方违反约定导致合同客观上无法履行或守约方守约方行使解除权的，应向守约方支付本批货款 10% 的违约金，并赔偿守约方受到的全部经济损失。</p>
                          <em>七、合同的生效</em>
                          <p>本合同自买方付款成功之时起生效，若自签订合同起 3 日内买方未支付相应款项，合同自动失效。</p>
                        </div>
                      </div>
                    </div>
                    <div class="ele_cfoot panel-body">
                        <button onClick1="print()" class="print btn btn-warning" print-btn="contract">打印合同</button>
                        <a href="#">该订单对应商品详情</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">金属商城</a></li>
            <li><a href="#">行业资讯</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">登陆</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <p>Copyright © 2010-2015 dzhce.cn. All Rights Reserved 广州联华电子商务有限公司版权所有 <a href="#">粤ICP备10215232号-2</a></p>
    </div>
</div>
<!-- 弹出框 start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog"><!-- 登录框 start -->
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                 &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">登录</h4>
         </div>
         <div class="modal-body login_body">
            <form method="post">
                <div class="login_input">
                  <input class="user_phone form-control" placeholder="手机号" type="text">
                  <input class="user_pwd form-control" placeholder="密码" type="password">
                  <div class="l_code clearfix hidden">
                      <input class="code fl form-control" placeholder="验证码" type="text">
                      <img src="statics/front/images/yzm.png"/>
                      <a href="#">换一张</a>
                  </div>
                </div>
                <div class="login_tip clear">
                  <div class="login_remeber fl"><b class="checkbox"></b><span class="m_t5 fl">下次自动登录</span></div>
                  <div class="login_password fr m_t5"><a href="forget.html">忘记密码？</a></div>
                </div>
                <div class="login_btn"><button type="button" class="btn btn-primary">登录</button></div>
                <div class="login_reg"><a href="#">立即注册</a></div>
            </form>
         </div>
      </div><!-- 登录框 end -->
    </div>
</div><!-- 弹出框 end -->
<script type="text/javascript" src="statics/front/js/jquery-1.8.3.min.js"></script>
<script src="statics/front/js/bootstrap.min.js"></script>
<script src="statics/front/js/common.js"></script>

<!-- bootstrap兼容IE插件 -->
<!--[if lt IE 9]>
    <script src="statics/front/js/respond.js"></script>
<![endif]-->
</body>
</html>
