<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>分页demo</title>
    @@include('./_common/header/head.html')
  </head>
  <body>
    <div class="pagi" id="pagi">

    </div>
    @@include('./_common/footer/foot.html')
  </body>
</html>
