<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>分页</title>
    @@include('./_common/header/head.html')
  </head>
  <body>

    {{{pagi}}}

    @@include('./_common/footer/foot.html')
  </body>
</html>
