
<!doctype html>

<html lang="en">
<head>
<title>联华大宗-商品搜索</title>
@@include('./_common/header/head.html')
</head>

<body>
@@include('./_common/header/header.html')
<div class="banner slide">
  <div id="product-slider" class="rsDefault">
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner1.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner2.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner3.jpg"/></a>
    <a href="#"><img class="rsImg rsMainSlideImage" src="statics/front/images/banner/banner4.jpg"/></a>
  </div>
</div>
<div class="wrapper">
    <div class="search_curr container">
        <p>以下搜索到“金属”中<i>“钢”</i>的相关结果共20个</p>
    </div>
    <div class="info-wrap search-wrap">
        <div class="container">
            <div class="clearfix row">
                <div class="info-main col-lg-10 fl">
                    <div class="search_item">
                        <h2><i class="nav-icon"></i>金属商城相关产品<b class="col-ff6600">(共20条)</b></h2>
                        <div class="search_ilist goods_slides">
                            <div class="search_ilul">
                                <ul class="clearfix">
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <dl>
                                            <dt><a href="item.html"><img src="statics/front/images/updown/pic1.jpg"></a></dt>
                                            <dd><span>热轧卷 </span> 鞍钢</dd>
                                            <dd><span>热轧卷 </span> 3.0*1250*C</dd>
                                            <dd><span>存货量： </span> 2000 吨</dd>
                                            <dd><span>起订量： </span> 200 吨</dd>
                                            <dd><span>供货商： </span> 佛山市顺德区启日贸易有限公司</dd>
                                        </dl>
                                    </li>
                                </ul>
                                <div id="page"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-right col-lg-2 fl">
                    <img src="statics/front/images/ad/ad2.jpg"><img src="statics/front/images/ad/ad2.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">金属商城</a></li>
            <li><a href="#">行业资讯</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">登陆</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <p>Copyright © 2010-2015 dzhce.cn. All Rights Reserved 广州联华电子商务有限公司版权所有 <a href="#">粤ICP备10215232号-2</a></p>
    </div>
</div>
<script type="text/javascript" src="statics/front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="statics/front/js/jquery.royalslider.min.js"></script>
<script src="statics/front/js/bootstrap.min.js"></script>
<script src="statics/front/js/laypage.js"></script>
<script src="statics/front/js/common.js"></script>
<script>
 $('#product-slider').royalSlider({
        arrowsNav: true,
        fadeinLoadedSlide: false,
        controlNavigationSpacing: 0,
        controlNavigation: 'bullets',
        imageAlignCenter: true,
        loop: true,
        loopRewind: false,
        keyboardNavEnabled: true,
        fullscreen: {
          enabled: true,
          nativeFS: false
        },
        autoScaleSlider: true,
            autoScaleSliderWidth: 1920,
        autoScaleSliderHeight: 565,

            slidesSpacing: 0,
            imageScaleMode: 'fill',
            imageAlignCenter: false,
            numImagesToPreload: 4,
            autoPlay: {
          // autoplay options go gere
          enabled: true,
          pauseOnHover: true
        }
    });
    laypage({
        cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
        pages: 100, //总页数
        skip: true, //是否开启跳页
        skin: '#ff6600',
        groups: 3 //连续显示分页数
    });
</script>

<!-- bootstrap兼容IE插件 -->
<!--[if lt IE 9]>
    <script src="statics/front/js/respond.js"></script>
<![endif]-->
</body>
</html>
