
<!doctype html>

<html>
<head>
    <title>测试路由</title>
    @@include('./_common/header/h5_rem_head.html')
    @@include('./_common/header/header_h5_nav.html')
</head>
<body>
<div class="container-box">
    <!-- slide -->
    <div class="remrow u-mt_40">
        <button type="button" name="button" class="button button--large" style="width:4rem;height:2rem" id="abc">abc</button>
        <div class="u-clearfix" id="test"></div>
    </div>
</div>
@@include('./_common/footer/footer_h5_nav.html')
@@include('./_common/footer/foot_h5.html')
</body>
</html>
