<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>typescript的分页</title>
    @@include('./_common/header/head.html')
  </head>
  <body>
    <h1>我是用typescript完成的</h1>
    {{{pagi}}}

    @@include('./_common/footer/foot.html')
  </body>
</html>
