<!doctype html>
<html lang="en">
    <head>
        <title>ueditor编辑器</title>
        @@include('./_common/header/head.html')
    </head>
    <body>
        <div class="container">
            <div class="hlist harticle">
                <div class="item">
                    <div class="hheader">
                        <h1>百度ueditor编辑器</h1>
                    </div>
                    <div class="hbody">
                        <h2>编辑器</h2>
                        <div class="part">
                            <div id="for-ueditor"> </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @@include('./_common/footer/foot.html')
    </body>
</html>
