<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>文件上传示例</title>
    @@include('./_common/header/h5_scale_1.html')
  </head>
  <body>
    <div class="box" style="padding:1em;">

        <div class="upload" id="upload"> </div>
        <div class="upload" id="thumb" style="margin-top: 3em;"> </div>


        <div id="bbcc" style="margin-top:2em;padding:1em;line-height:2em;width:3em;height:2em;background-color:red;">自定义</div>


    </div>
    @@include('./_common/footer/foot.html')
  </body>
</html>
