<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>文件上传示例</title>
    @@include('./_common/header/head.html')
  </head>
  <body>
    <div class="box">
        <div class="upload" id="testupload">

        </div>
    </div>
    @@include('./_common/footer/foot.html')
  </body>
</html>
