
<!doctype html>

<html>
<head>
    <title>仿淘宝移动端栅格 REM</title>
    @@include('../../_common/header/h5_rem_head.html')
</head>
<body>
<div class="" data-module="index">
    <div class="remrow">
        <div class="col-12 row-6" style="background-color:gray"></div>
    </div>
    <div class="remrow">
      <div class="col-6 row-6" style="background-color:red;"><div class="showcase">123</div> </div>
      <div class="col-6 row-3" style="background-color:blue"><div class="showcase">456</div> </div>
      <div class="col-3 row-3" style="background-color:green"><div class="showcase">789</div></div>
      <div class="col-3 row-3" style="background-color:yellow"><div class="showcase">1f2d3s4g</div></div>
    </div>
<hr/>
<div class='u-clearfix' id='demo'></div>
<script src="/js/{{commonjs}}"></script>
</body>
</html>
