
<!doctype html>

<html>
<head>
    <title>鲜果联播列表页--H5 REM</title>
    @@include('../../_common/header/h5_rem_head.html')
    @@include('../../_common/header/header_h5_nav.html')
</head>
<body>
<div>
    <!-- cat -->
    <div class="remrow u-mt_40">
        <div class="u-clearfix" id="test"></div>
    </div>

    <div class="remrow u-mt_60">
        <div class="u-clearfix" id="test1"></div>
    </div>
</div>
<script src="/js/{{commonjs}}"></script>
<script src="/js/{{pagejs}}"></script>
</body>
</html>
