@import "../../modules/_settings/_setting_pages";
@import "../_common/com.scss";
@import "../_common/bootstrap.min.scss";
/***************************************会员中心 start*****************************************/
/*我的账号*/
.account_nav{ margin-right: 10px;}
.account_nav dt{ font-size: 26px; color: #ff6600; font-weight: 500; margin-bottom: 20px; padding-bottom: 10px; position: relative; padding-left: 18px; height: 36px; line-height: 36px;}
.account_nav dd,.helf-left li{ color: #999; margin-bottom: 10px; font-size: 16px; font-weight: 500; border-bottom: 1px solid #fce8dc; padding-bottom: 10px;}
.account_nav dd.active a,.helf-left li.active a{ color: #ff6600;background: url(../images/r.png) no-repeat right center; display: block;}
.account_l{ border-right: 1px solid #fce8dc;}
.account_r{ min-height: 700px!important;}
.account_content,.myorder_content{ border: 1px solid #ff6600; padding: 40px 20px; border-top: none;}
.account_content.tab-content>.tab-pane{width: 83%; margin-left:15%;}
.account_content.tab-content>.tab-pane .form-group select{ width: 15%;padding:6px 10px;}
.account_content.tab-content>#myapprove.tab-pane{ width: 78%;}
#myapprove .myaccount_uploadfieldbase{width: 82%; display: inline-block;}
.myaccount_main{ margin-top: 20px;}
.account_r .nav-tabs{border-bottom: 1px solid #ff6600;}
.account_r .nav-tabs>li.active>a,.account_r .nav-tabs>li.active>a:hover,.account_r .nav-tabs>li.active>a:focus{ color: #ff6600; border: 1px solid #ff6600; border-bottom-color: transparent;}
.account_r i{ font-style: normal;}
.form-group label{ display: inline-block; *display: block; *zoom:1; width: 120px; margin-right: 5px; text-align: right; color: #666; font-weight: 500;}
.form-group input,.form-group select{ display: inline-block; *display: block; *zoom:1; border: 1px solid #ddd;}
.form-group select{ width: 24%;}
.u_address input{ margin-top: 10px; margin-left: 95px;}
.account_content .btn{ width: 25%; margin-left: 25%;}
.btn-orange{ background-color: #ff6600; border-color: #ff6600; color: #fff}
.btn-orange:hover, .btn-orange:focus{ background-color: #ED6307; border-color: #ED6307; color: #fff;}
#myapprove.tab-pane label{ width: 100px;}
#myapprove.tab-pane input{ width: 40%;}
#myapprove.tab-pane input#inputfile{  display: inline-block; width: 30%; border: none;}
#myapprove.tab-pane .btn{ margin-left: 0; margin-right: 20px;}
#myapprove.tab-pane .form-group .gallery{ display: inline-block; width: 100px; height: 100px;}
#myapprove.tab-pane .form-group .gallery img{ display: inline-block; width: 100%; height: auto;}
input#isNightPlate{width: 20px;}
#inputLiecnces,#inputOrgCode,#inputTax{ width: 100%!important;}
.myapprove_btn{ text-align:center;}
.myapprove_error{ display: block;color: #ff6600;margin: 10px 0 0 0; text-align:center;}
#mybasic .u_address input{ margin-left:130px;}
#accountSavePassword .form-control{width:38%;}
#accountSavePassword .btn{margin-left:23%;}
/***************************************会员中心-我的账号 end*****************************************/