@import "../../../modules/_settings/_setting_pages";
@import "../../_common/com.scss";
@import "../../_common/bootstrap.min.scss";
/***************************************会员中心 start*****************************************/
/*我的账号*/
@mixin box-border() {
    color: #ff6600;
    border: 1px solid #ff6600;
    border-bottom-color: transparent;
}

.account_content,.myorder_content{
	border: 1px solid #ff6600;
	padding: 40px 20px;
	border-top: none;
}
.account_content.tab-content>.tab-pane{width: 83%; margin-left:15%;}
.account_content.tab-content>.tab-pane .form-group select{ width: 15%;padding:6px 10px;}
.account_content.tab-content>#myapprove.tab-pane{ width: 78%;}
.myaccount_main{ margin-top: 20px;}
.account_r .nav-tabs{border-bottom: 1px solid #ff6600;}
.account_r .nav-tabs>li.active>a,.account_r .nav-tabs>li.active>a:hover,.account_r .nav-tabs>li.active>a:focus{ @include box-border() }
.account_r i{ font-style: normal;}
.form-group{
	label{
		display: inline-block;
		width: 120px;
		margin-right: 5px;
		text-align: right;
		color: #666;
		font-weight: 500;
	}
	input,select{
		display: inline-block;
		border: 1px solid #ddd;
	}
    input[type='text']{
        width: 335px; margin-top: 0;
    }
    p{display: inline-block;}
	select{ width: 24%;}
}

.u_address input{ margin-top: 10px; margin-left: 95px;}
.account_content .btn{ width: 25%; margin-left: 25%;}
.btn-orange{
	background-color: #ff6600;
	border-color: #ff6600;
	color: #fff;
	&:hover, &:focus{
		background-color: #ED6307;
		border-color: #ED6307;
		color: #fff;
	}
}
#myapprove .myaccount_uploadfieldbase{width: 82%; display: inline-block;}
#myapprove.tab-pane{
	label{
		width: 100px;
	}
	input{
		width: 40%;
	}
	input#inputfile{
		display: inline-block;
		width: 30%;
		border: none;
	}
	input#isNightPlate{
		width: 20px;
	}
	input#inputLiecnces,input#inputOrgCode,input#inputTax{
		width: 100%;
	}
	.btn{
		margin-left: 0;
		margin-right: 20px;
	}
	.form-group .gallery{
		display: inline-block;
		width: 100px;
		height: 100px;
		img{
			display: inline-block;
			width: 100%;
			height: auto;
		}
	}
}

.myapprove_btn{ text-align:center;}
.myapprove_error{ display: block;color: #ff6600;margin: 10px 0 0 0; text-align:center;}
#mybasic .u_address input{ margin-left:130px;}
#accountSavePassword{
	.form-control{width:38%;}
	.btn{margin-left:23%;}
}
/***************************************会员中心-我的账号 end*****************************************/
