@import "../../../modules/_settings/_setting_pages";
@import "../../_common/com.scss";

/**************************企业简介************************************/
.myaccount_about{
	min-height: 585px;
}
.myaccount_abtitle{ 
	color: #ff6600; 
	font-size: 16px; 
	margin-bottom: 10px;
	border-bottom: 2px solid #ff6600; 
	font-weight: bold; 
	padding-bottom: 10px;
}
.myaccount_abcom{ 
	min-height: 200px; 
	padding: 20px; 
	border: 1px solid #ff6600;
	p{ 
		color: #666; 
		margin-bottom: 0;
	}
	i,a{
		font-style: normal;
	}
	button{ 
		margin-top: 20px; 
		margin-bottom: 20px;
	}
}