<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>列表</title>
	@@include('../_common/header/head.html')
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="logo"></div>
			<ul class="navbar-nav">
				<li class="active"><a href="index.html">HOME</a></li>
				<li><a href="news.html">NEWS</a></li>
				<li><a href="benchmarking.html">BENCHMARKING</a></li>
				<li><a href="about.html">ABOUT US</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</div>
	</div>
	<div class="wrapper">
		<div class="pro_name container">
			<div class="pro_hd">
				<h2>产品列表</h2>
			</div>
			<div class="pro_bd">
				<ul class="slist pro_ul span_ul clearfix">
					<li class="span10-2 item shadows">
						<div class="hheader">
							<a href="#">
								<img src="/images/list/2.jpg">
							</a>
						</div>
						<div class="hbody">
							<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
							<span>来自于 167953031 的评价</span>
							<p>米兔手机U盘</p>
						</div>
					</li>
					<li class="span10-2 item shadows">
						<div class="hheader">
							<a href="#">
								<img src="/images/list/2.jpg">
							</a>
						</div>
						<div class="hbody">
							<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
							<span>来自于 167953031 的评价</span>
							<p>米兔手机U盘</p>
						</div>
					</li>
					<li class="span10-2 item shadows">
						<div class="hheader">
							<a href="#">
								<img src="/images/list/1.jpg">
							</a>
						</div>
						<div class="hbody">
							<em>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx标题</em>
							<span>xxxxxxxxxxx介绍</span>
							<p>xxxxxxxxxxx内容</p>
						</div>
					</li>
					<li class="span10-2 item shadows">
						<div class="hheader">
							<a href="#">
								<img src="/images/list/1.jpg">
							</a>
						</div>
						<div class="hbody">
							<em>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx标题</em>
							<span>xxxxxxxxxxx介绍</span>
							<p>xxxxxxxxxxx内容</p>
						</div>
					</li>
					<li class="span10-2 item shadows">
						<div class="hheader">
							<a href="#">
								<img src="/images/list/1.jpg">
							</a>
						</div>
						<div class="hbody">
							<em>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx标题</em>
							<span>xxxxxxxxxxx介绍</span>
							<p>xxxxxxxxxxx内容</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="pro_name container">
			<div class="pro_hd">
				<h2>产品列表</h2>
			</div>
			<div class="pro_bd span_ul clearfix">
				<div class="pro_carousel span3">
					<ul class="slist pro_carousel_ul pro_carousel_ul1 clearfix">
						<li class="item">
							<a href="#">
								<img src="/images/list/3.jpg">
							</a>
						</li>
						<li class="item">
							<a href="#">
								<img src="/images/list/3.jpg">
							</a>
						</li>
						<li class="item">
							<a href="#">
								<img src="/images/list/3.jpg">
							</a>
						</li>
					</ul>
					<div class="pro_carousel_page">
						<ul>
							<li class="active">
								<span></span>
							</li>
						</ul>
					</div>
					<div class="pro_carousel_btn">
						<a href="javasrcipt:;" class="left iconfont">&#xf016e;</a>
						<a href="javasrcipt:;" class="right iconfont">&#xf016d;</a>
					</div>
				</div>
				<div class="span9">
					<ul class="slist pro_ul span_ul clearfix">
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="pro_name container">
			<div class="pro_hd">
				<h2>产品列表</h2>
			</div>
			<div class="pro_bd span_ul clearfix">
				<div class="pro_carousel span3">
					<ul class="slist pro_carousel_ul pro_carousel_ul1 clearfix">
						<li class="item">
							<a href="#">
								<img src="/images/list/3.jpg">
							</a>
						</li>
						<li class="item">
							<a href="#">
								<img src="/images/list/3.jpg">
							</a>
						</li>
						<li class="item">
							<a href="#">
								<img src="/images/list/3.jpg">
							</a>
						</li>
					</ul>
					<div class="pro_carousel_page">
						<ul>
							<li class="active">
								<span></span>
							</li>
						</ul>
					</div>
					<div class="pro_carousel_btn">
						<a href="javasrcipt:;" class="left iconfont">&#xf016e;</a>
						<a href="javasrcipt:;" class="right iconfont">&#xf016d;</a>
					</div>
				</div>
				<div class="span9">
					<ul class="slist pro_ul span_ul clearfix">
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
						<li class="span10-2 item shadows">
							<div class="hheader">
								<a href="#">
									<img src="/images/list/2.jpg">
								</a>
							</div>
							<div class="hbody">
								<em>米兔君的升级版，第二次买（第一次买的用了还不到一周就...</em>
								<span>来自于 167953031 的评价</span>
								<p>米兔手机U盘</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="pro_name container">
			<div class="pro_hd">
				<h2>产品轮播的几种效果</h2>
			</div>
			<div class="pro_bd">
				<ul class="slist span_ul clearfix">
					<li class="item shadows pro_carousel span3">
						<ul class="pro_carousel_ul pro_carousel_ul1 clearfix">
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
						</ul>
						<div class="pro_carousel_page">
							<ul>
								<li class="active">
									<span></span>
								</li>
							</ul>
						</div>
						<div class="pro_carousel_btn">
							<a href="javasrcipt:;" class="left iconfont">&#xf016e;</a>
							<a href="javasrcipt:;" class="right iconfont">&#xf016d;</a>
						</div>
					</li>
					<li class="item shadows pro_carousel span3">
						<ul class="pro_carousel_ul pro_carousel_ul1 clearfix">
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
						</ul>
						<div class="pro_carousel_page">
							<ul>
								<li class="active">
									<span></span>
								</li>
							</ul>
						</div>
						<div class="pro_carousel_btn">
							<a href="javasrcipt:;" class="left iconfont">&#xf016e;</a>
							<a href="javasrcipt:;" class="right iconfont">&#xf016d;</a>
						</div>
					</li>
					<li class="item shadows pro_carousel span3">
						<ul class="pro_carousel_ul pro_carousel_ul1 clearfix">
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
						</ul>
						<div class="pro_carousel_page">
							<ul>
								<li class="active">
									<span></span>
								</li>
							</ul>
						</div>
						<div class="pro_carousel_btn">
							<a href="javasrcipt:;" class="left iconfont">&#xf016e;</a>
							<a href="javasrcipt:;" class="right iconfont">&#xf016d;</a>
						</div>
					</li>
					<li class="item shadows pro_carousel span3">
						<ul class="pro_carousel_ul pro_carousel_ul2 clearfix">
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="/images/list/3.jpg">
								</a>
							</li>
						</ul>
						<div class="pro_carousel_page">
							<ul>
								<li class="active">
									<span></span>
								</li>
							</ul>
						</div>
						<div class="pro_carousel_btn">
							<a href="javasrcipt:;" class="left iconfont">&#xf016e;</a>
							<a href="javasrcipt:;" class="right iconfont">&#xf016d;</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="pro_name container">
			<div class="pro_hd">
				<h2>News列表</h2>
			</div>
			<div class="pro_bd span_ul clearfix">
				<ul class="slist news_ul">
					<li class="item shadows span_ul clearfix">
						<div class="hheader span3">
							<a href="#"><img src="/images/list/2.jpg"></a>
						</div>
						<div class="hbody span9">
							<em><a href="#">2015君华集团</a></em>
							<span>2015-2-2</span>
							<p>2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团</p>
							<a href="#" class="dot more">查看详情 >></a>
						</div>
					</li>
					<li class="item shadows span_ul clearfix">
						<div class="hheader span3">
							<a href="#"><img src="/images/list/2.jpg"></a>
						</div>
						<div class="hbody span9">
							<em><a href="#">2015君华集团</a></em>
							<span>2015-2-2</span>
							<p>2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团</p>
							<a href="#" class="dot more">查看详情 >></a>
						</div>
					</li>
					<li class="item shadows span_ul clearfix">
						<div class="hheader span3">
							<a href="#"><img src="/images/list/2.jpg"></a>
						</div>
						<div class="hbody span9">
							<em><a href="#">2015君华集团</a></em>
							<span>2015-2-2</span>
							<p>2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团</p>
							<a href="#" class="dot more">查看详情 >></a>
						</div>
					</li>
					<li class="item shadows span_ul clearfix">
						<div class="hheader span3">
							<a href="#"><img src="/images/list/2.jpg"></a>
						</div>
						<div class="hbody span9">
							<em><a href="#">2015君华集团</a></em>
							<span>2015-2-2</span>
							<p>2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团2015君华集团</p>
							<a href="#" class="dot more">查看详情 >></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer"></div>
	<script src="/js/{{commonjs}}"></script>
	<script src="/js/{{pagejs}}"></script>
	<script type="text/javascript">
	$(".pro_carousel").each(function (i,item) {
		if(i == 0){
			$(".pro_carousel").eq(i).carousel({dotBtn : false,zrBtn : true,autoControl : true,switchFlag : true,switchFlag2 : false,spend : 3000});
		}
		else if(i <=4){
			$(".pro_carousel").eq(i).carousel({dotBtn : true,zrBtn : true,autoControl : false,switchFlag : false,switchFlag2 : false,spend : 3000});
		}
		else{
			$(".pro_carousel").eq(i).carousel({dotBtn : true,zrBtn : true,autoControl : false,switchFlag : true,switchFlag2 : true,spend : 3000});
		}
	})
	</script>
</body>
</html>
