<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="keywords" content="雪松资本,君华集团,cedarcapital,kingvision,领壹科技,联商所,汇华金融,君华地产,雪松投创,车前车后" />
	<meta name="description" content="雪松资本，布局五年，脱胎换骨，形成了横跨社区O2O、大宗商品交易平台、金融投资、房地产、产业孵化、汽车市场六大业务平台的产业布局。新兴产业的布局已经基本完成，全部的产业计划在五年内全部登陆资本市场。">
	<!-- <meta name="author" content=""> -->
	<link rel="icon" href="statics/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="statics/favicon.ico" mce_href="statics/favicon.ico" type="image/x-icon">
	<title>[@spring.message "page.title.index" /]</title>
	<link rel="stylesheet" href="/css/{{commoncss}}">
	<link rel="stylesheet" href="/css/{{pagecss}}">
	<style media="screen">
		*{margin:0;padding:0;list-style-type:none;}
		a,img{border:0;}
		/*body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
		 roundabout */
		.roundabout-holder{width:450px;height:296px;margin:0 auto;}
		.roundabout-moveable-item{width:610px;height:260px;cursor:pointer;}
		/*.roundabout-moveable-item div{padding: 15px;font-size:16px;}*/
		.roundabout-moveable-item img{width:100%;}
	</style>

</head>
<body>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="head_logo"><a href="#"><img src="/images/m-logo.png"/ alt="雪松资本 · 君华集团" title="雪松资本 · 君华集团"></a></div>
			<div class="span4"><p></p></div>
			<div class="head_com span8 clearfix">
				<div class="head_nav fl">
				    <ul class="clearfix">
						<li class="active"><a href="index.html"><i></i>首页</a></li>
						<li><a href="portfolio.html"><i></i>成员企业</a></li>
						<li><a href="#"><i></i>新闻</a></li>
						<li><a href="about.html"><i></i>关于我们</a></li>
						<li><a href="contact.html"><i></i>联系我们</a></li>
				    </ul>
				</div>
				<div class="head_lan fr">
					<a href="#" onclick="changeLang('cn');" class="head_lanE">中文</a>
					<a href="#" onclick="changeLang('en');">英文</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper">
	<div class="container pc_wrapper">
		<div class="row">
			<div class="span4 logo"><a href="index.html"><img src="/images/company/logo.png"/ alt="雪松资本 · 君华集团" title="雪松资本 · 君华集团"></a><i>>>>>></i></div>
			<div class="span8">
				<div class="banner">
					<ul class="roundabout" id="myroundabout">
						<li class="nav_l1 opacy">
							<div class="outer">
								<div class="inner" style="text-align:center; font-size:38px;">
                        			<a href="creation.html"创造</a>
                        			<p class="banner_text">创造创造创造创造创造创造创造创造创造创造创造</p>
                        		</div>
                        	</div>
                        </li>
						<li class="nav_l2 opacy">
							<div class="outer">
								<div class="inner" style="text-align:center; font-size:38px;">
									<a href="sharing.html">爱</a>
                        			<p class="banner_text">爱爱爱爱爱爱</p>
                        		</div>
                        	</div>
                        </li>
						<li class="nav_l3 opacy">
							<div class="outer">
								<div class="inner" style="text-align:center; font-size:38px;">
									<a href="love.html">分享</a>
                        			<p class="banner_text">分享分享分享分享分享分享</p>
                        		</div>
                        	<div class="wrap">
                        </li>
					</ul>
				</div>
				<div class="creation">
					<h2><i></i>[@spring.message "index.banner.value" /]</h2>
					<!-- <p>[@spring.message "index.banner.value.text" /]</p> -->
				</div>
			</div>
		</div>
	</div>
 	<div class="container m_wrapper">
		<div class="pro_carousel">
			<ul class="pro_carousel_ul">
				<li>
					<div class="outer">
						<a href="creation.html">创造</a>
                   		<p class="banner_text">分享分享分享分享分享分享分享分享分享分享分享</p>
                   	</div>				
				</li>
				<li>
					<div class="outer">
						<a href="creation.html">爱</a>
                   		<p class="banner_text">分享分享分享分享分享分享分享</p>
                   	</div>				
				</li>
				<li>
					<div class="outer">
						<a href="creation.html">分享</a>
                   		<p class="banner_text">分享分享分享分享分享分享分享分享分享分享分享</p>
                   	</div>				
				</li>
			</ul>
			<div class="pro_carousel_page">
				<ul>
					<li class="active"><span></span></li>
					<li><span></span></li>
					<li><span></span></li>
				</ul>
			</div>
		</div>
		<div class="company_list">
			<ul>
				<li class="li_one">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/company/1.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="li_two">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/company/2.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="li_one">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/company/3.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="li_two">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/company/4.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="li_one">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/company/5.jpg">
						<span>领壹科技</span>
					</a>
				</li>
				<li class="li_two">
					<a class="company_list_div" href="#">
						<img alt="" src="/images/company/6.jpg">
						<span>领壹科技</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- include footer -->
	<script src="/js/{{commonjs}}"></script>
	<script src="/js/{{pagejs}}"></script>
<script type="text/javascript">
function changeLang(lang){
	var url = "lang.html?langType="+lang;
	var uri = window.location.pathname + window.location.search;
	$.ajax({
		type : "GET",
		url : url,
		success : function(result) {
			if ("success" == result){
				location.href = uri;
			}
		},
		error : function() {
		}
	});
}
</script>
</body>
</html>