
<!doctype html>

<html lang="en">
<head>
<title>Tab切换效果演示</title>
@@include('../_common/header/head.html')
<style>
    h3{
        background-color: #ccc;
        padding: 8px;
        margin-bottom: 50px;
    }
</style>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>表格</h3>
             <div id="tab-switch-table"></div>
        </div>
    </div>
</div>



@@include('../_common/footer/foot.html')
</body>
</html>
