
<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
<style>
    h3{
        background-color: #ccc;
        padding: 8px;
        margin-bottom: 50px;
    }
</style>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>仿太平洋</h3>
             <div id="tab-switch" class="u-clearfix" style="border:1px solid #efefef;"></div>
        </div>

        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>仿幕客网</h3>
             <h4>全部课程</h4>
             <hr/>
             <div id="tab-switch-mooc"></div>
        </div>

        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>仿京东首页产品选择条</h3>
             <div id="tab-switch2"></div>
        </div>
    </div>
</div>



@@include('../_common/footer/foot.html')
</body>
</html>
