
<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
</head>

<body>
@@include('../_common/header/header.html')

<div class="wrapper">
    <div class="container">
        <div class="category">
            <div id="myTabContent" class="tab-content">
                 <!-- tabswitch -->
                 <div id="tab-switch"></div>
            </div>
        </div>
    </div>
</div>



@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
</body>
</html>
