
<!doctype html>

<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
</head>

<body>
<div class="wrapper">
    <div class="container">
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <div id="tab-switch" class="u-clearfix" style="border:1px solid #efefef;"></div>
        </div>
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <div id="tab-switch2"></div>
        </div>
    </div>
</div>



@@include('../_common/footer/foot.html')
</body>
</html>
