
<!doctype html>

<html lang="en">
<head>
<title>Tab切换效果演示</title>
@@include('../_common/header/head.html')
<style>
    h3{
        background-color: #ccc;
        padding: 8px;
        margin-bottom: 50px;
    }
</style>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <p><a href="https://github.com/webkixi/FKP-REST"><strong>FKP-REST</strong></a> 是一套完全由前端技术构建的高性能框架，后端由koajs，前端由webpack/gulp构建而成  </p>
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>仿太平洋</h3>
             <div id="tab-switch" class="u-clearfix" style="border:1px solid #efefef;"></div>
        </div>

        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>仿幕客网</h3>
             <h4>全部课程</h4>
             <hr/>
             <div id="tab-switch-mooc"></div>
        </div>

        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>仿京东首页产品选择条</h3>
             <div id="tab-switch2"></div>
        </div>
        <div class="category u-clearfix" style="margin-top:30px;">
             <!-- tabswitch -->
             <h3>表格</h3>
             <div id="tab-switch-table"></div>
        </div>
    </div>
</div>



@@include('../_common/footer/foot.html')
</body>
</html>
