<!doctype html>
<html>
<head>
    <title></title>
    @@include('../_common/header/head.html')
    <!--[if lt IE 9]>
        <script src="/js/ie.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="nowidth2">1</div>
    <div class="nowidth2">2</div>
    <div class="nowidth2">3</div>
    <div class="nowidth2">4</div>
    <div class="nowidth2">5</div>
    <div class="nowidth2">6</div>
</div>
<hr/>
</body>
</html>
