@import "../../../modules/_settings/_setting_pages";
@import "../../_common/com.scss";
@import "../../_common/bootstrap.min.scss";
/*电子合同*/
.ele_contract{
	color: #666;
	margin-left: 20px;
	font-size: 16px;
	.ele_chead{ 
		border-bottom: 1px solid #ddd;
		text-align: center;
		h2{
			font-weight: 600;
			font-size: 20px;
			float:left;
			width:100%;
		}
		ul{
			text-align: left;
			font-size: 18px;
			float:right;
		}
		li{
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
	.ele_cmain{
		text-align: left;
		margin-bottom: 50px;
	}
	h3,em,h4{
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	em{
		margin-bottom: 5px;
		display: block;
		font-style: normal;
	}
	h4{
		margin-bottom: 15px;
	}
	h5{
		margin-bottom: 10px;
		margin-top: 0;
		font-weight: bold;
	}
	span{
		font-size: 16px;
		margin-left: 33px;
		margin-bottom: 10px;
		display: block;
	}
	p{
		font-size: 14px;
		margin-left: 33px;
		line-height: 25px;
	}
	.table{
		>thead>tr>th{
			border:1px solid #666!important;
		}
		>tbody>tr>td{
			font-size: 14px;
		}
		th,td{
			border: 1px solid #666;
			min-width: 82px;
			text-align: center;
		}
	}
	.ele_cmoney{
		text-align: left!important;
		font-size: 16px!important;
	}
}
.myorder-inp{
	border: none;
	border-bottom: 1px solid #ff6600;
	width: 92%;
	color: #666;
	padding: 0 5px;
}