@import "../../../modules/_settings/_setting_pages";
@import "../../_common/com.scss";
@import "../../_common/bootstrap.min.scss";

/* CSS Document */
.cityPanel,.cityPanel a{width:71px;}
.hdPanel,.hdPanel a{width:56px;}
.lbPanel,.lbPanel a{width:83px;}
.ycPanel,.ycPanel a{width:80px;}

/*.ty-item-title{padding:10px 0px;}
.ty-item-title,.ty-item-title a{color:#333;}
.ty-item-title a{padding:0px 8px;}*/

.ty-c1-content{overflow:hidden;zoom:1;border:1px solid #e5e5e5; position: relative;}
.ty-c1-grid-l,.ty-c1-grid-m,.ty-c1-grid-r{float:left;}
.ty-c1-grid-l{width:455px;}

.ty-c1-grid-m{position:relative;width:100%;min-height:669px;padding:0px 30px;background-color:#fafafa;overflow: hidden;}
.ty-c1-grid-m .ty-Xbase-row{padding-left:11px;padding-right:11px;}
.ty-c1-grid-m .ty-panel{padding-left:11px;padding-right:11px;}
.ty-c1-grid-m .ty-panel.select_attention{position:relative;height:100%;border: 1px solid #e74c3c;background: #fff;padding-left:10px;padding-right:10px;}
.ty-c1-grid-m .ty-panel .ty-p-title{position:absolute;top:0;left:0;width:100%;height:20px;}
/*.ty-c1-grid-m .ty-panel .ty-p-title span{padding-left:11px;font-size:12px;color:#999;}*/
.ty-c1-grid-m .ty-panel .ty-p-content{height:100%;padding-top:20px;border-top:2px solid #c9c9c9;border-bottom:1px dotted #c9c9c9; padding-bottom: 20px;}

.ty-c1-grid-m:before{box-shadow:0px -3px 10px #ccc; content:'';position:absolute;top:0px;left:-100px;display:block;width:100px;height:110%;}

.ty-c1-grid-l .ty-grid-galleryShow{position:relative;height: 367px;}
.ty-c1-grid-l .ty-grid-galleryShow a{width:100%!important;}
.ty-c1-grid-l .ty-grid-galleryShow .zoomPad{float:none;}
.ty-c1-grid-l .ty-grid-galleryShow .ty-grid-gsPic{width:100%; max-height: 367px;}
.ty-c1-grid-l .ty-grid-galleryShow i.scaling{position:absolute;bottom:0px;right:32px;display:block;width:21px;height:21px;background:url(../images/item/icon.png);}
.ty-c1-grid-l .ty-grid-thumb{ margin:40px 40px 0; position: relative;}
.ty-c1-grid-l .ty-grid-thumb .ty-grid-thumbdiv{ overflow: hidden;width:100%; height: 100px;}
.ty-c1-grid-l .ty-grid-thumb ul{ width: 2222px; padding: 0;}
.ty-c1-grid-l .ty-grid-thumb li{position:relative;float:left; *zoom:1; padding:0;width:123px;height:100px;text-align:center; margin-right:3px;}
.ty-c1-grid-l .ty-grid-thumb li a{text-align:center; border:2px solid #f0f0f0; display: block;} 
.ty-c1-grid-l .ty-grid-thumb li img{width:120px; height: 96px; padding: 2px;}
.ty-c1-grid-l .ty-grid-thumb li:hover a,.ty-c1-grid-l .ty-grid-thumb li a.zoomThumbActive{border-width:2px;border-color:#e74c3c;}
.ty-c1-grid-l .ty-grid-thumb li:before{border-color: transparent;}
.ty-c1-grid-l .ty-grid-thumb li a.zoomThumbActive:before{
	display:block;
	position:absolute;
	top:-8px;
	left:50%;
	width:0;
	height:0;
	content:'';
	margin-left:-10px;
	border-color: transparent transparent #e74c3c transparent;
    border-style: solid;
    border-width: 0px 8px 8px 8px;
}
.ty-grid-ad{ width: 455px; padding: 0 5px 5px 5px; height: 175px;  position: absolute; bottom: 5px; left: 0;}
.ty-grid-ad img{ width: 100%; height: 175px;}

.ty-Xbase{padding-top:26px;}
.ty-Xbase2{padding-bottom: 74px;}
.ty-Xbase dl{line-height: 30px; margin-bottom: 0;}
.ty-Xbase dl dt{/*position:absolute;left:0px;*/color:#666;font-weight:400;font-size:12px;height: 100%; display: inline-block;*display: block; *zoom:1;min-width: 100px;text-align: right; margin-right: 15px;}
.ty-Xbase dl dt:after{width:0;height:100%;display:inline-block;vertical-align:middle;zoom:1;content:'';}
.ty-Xbase dl dt span{display:inline-block;zoom:1;}
.ty-Xbase dd{position:relative; color: #666; display: inline-block;  width: 520px; line-height: 30px; vertical-align: top;}

.ty-Xbase-row1 h1{font-size:20px;font-family:arial,"Microsoft Yahei"!important;color:#333;padding-bottom:5px;}
.ty-Xbase-row1 p{font-size:12px;}
.ty-Xbase-row1{margin-bottom:17px;}

/*.ty-Xbase-row2{padding-bottom:24px;}
.ty-Xbase-row2 dl dd i{font-style:normal;}
.ty-Xbase-row2 dl dd span.n_price{font-size:36px;color:#f84e01;font-family:Arial;}
.ty-Xbase-row2 dl dd span.n_price i{font-size:24px;}
.ty-Xbase-row2 dl dd span.o_price{position:absolute;top:12px;left:156px;font-family:Arial;font-size:14px;color:#333;text-decoration:line-through;}
.ty-Xbase-row2 dl.scj{margin-bottom:18px;}*/


.ty-Xbase-row3{padding-left:0!important;padding-right:0!important;margin-bottom:28px;}
/*.ty-Xbase-row3 dl.pro-ghl{margin-bottom:16px;}*/

.ty-Xbase-row4{margin-bottom:25px;}
.ty-Xbase-row4 dl{margin-bottom:20px;}
.ty-Xbase-row4 dd{font-size:12px;color:#333;}
.ty-Xbase-row4 dd span{color:#e1e1e1;margin:0 7px;}

.ty-Xbase-row4 .ty-Xaction-Buy{overflow:hidden;zoom:1; height: 47px; line-height: 47px;}
.ty-Xbase-row4 .ty-Xaction-Buy a{float:left;width:202px;height:47px;line-height:47px;font-size:14px;background-color:#c0392b;color:#fff;background:url(../images/item/btn-buy.jpg) no-repeat; margin-right: 10px;}
.ty-Xbase-row4 .ty-Xaction-Buy a.ty-X-btn-nobuy{ background:url(../images/item/btn-nobuy.jpg) no-repeat;}
/*.ty-Xbase-row4 .ty-Xaction-Buy a.ty-X-shopping-car{position:relative;}
.ty-Xbase-row4 .ty-Xaction-Buy a.ty-X-shopping-car:hover{text-decoration:none;}
.ty-Xbase-row4 .ty-Xaction-Buy a.ty-X-shopping-car:hover i{
	-webkit-transform-style:preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: aniCar .8s .2s infinite ease-in-out;
	-moz-animation: aniCar .8s .2s infinite ease-in-out;
	-o-animation: aniCar .8s .2s infinite ease-in-out;
	animation: aniCar .8s .2s infinite ease-in-out;
}
.ty-Xbase-row4 .ty-Xaction-Buy a.ty-X-shopping-car i{
	position:absolute;
	top:13px;
	left:47px;
	background:url(../images/item/icon.png);
	width:22px;
	height:19px;
	display:block;
	background-position:0px -71px;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
}
.ty-Xbase-row4 .ty-Xaction-Buy a.ty-X-shopping-car span{padding-left:76px;}*/
.ty-c1-grid-r{height:100%;width:743px;background-color:#fafafa;}


.ty-item-grid-c2{margin-top:37px;}
.ty-item-grid-c2:after{display: block;clear: both;content: "";visibility: hidden;height: 0;}
.ty-item-grid-c2 .ty-item-grid-m{width:100%;display:inline;}
.ty-item-grid-c2 .ty-item-grid-inner-t.fixed{ position:fixed; top:0; z-index:999999;}
.ty-item-grid-c2 .ty-item-grid-inner-t ul{overflow:hidden;height: 47px;padding:0;}
.ty-item-grid-c2 .ty-item-grid-inner-t li{
	position:relative;
	float:left;
	width:293px;
	height:48px;
	cursor:pointer;
	text-align:center;
	margin-right:-1px;
	background-color:#fafafa;
	border-top:1px solid #e7e7e7;
}
.ty-item-grid-c2 .ty-item-grid-inner-t li .ty-item-c{height: 46px;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}

.ty-item-grid-c2 .ty-item-grid-inner-t li.btn-buy{background:url(../images/item/btn-buy2.jpg);display:block;width: 217px;height:48px; border:none;}
.ty-item-grid-c2 .ty-item-grid-inner-t li.btn-buy a{display:block;}
.ty-item-grid-c2 .ty-item-grid-inner-t li i{/*display:inline-block;*display:inline;*zoom:1;width:20px;*/height:20px;/*top:13px;left:0!important;background:url(../images/item/icon.png) no-repeat;vertical-align:middle;*/}
.ty-item-grid-c2 .ty-item-grid-inner-t li a{font-size: 14px;color: #999;line-height: 40px;display: block;height: 100%;position: relative;margin: auto;text-align:center;}
.ty-item-grid-c2 .ty-item-grid-inner-t li a:after{content:'';display:inline-block;*display:inline;*zoom:1;vertical-align:middle;width:0;height:100%;}
.ty-item-grid-c2 .ty-item-grid-inner-t li a span{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.ty-item-grid-c2 .ty-item-grid-inner-t li a:hover{text-decoration:none;}
.ty-item-grid-c2 .ty-item-grid-inner-t li strong{font-family:Arial;font-size:14px;font-weight:normal;color:#f84e01;}


.ty-item-grid-c2 .ty-item-grid-inner-t ul li.select{border-top:2px solid #e74d3d;background-color:#fff!important;}
.ty-item-grid-c2 .ty-item-grid-inner-t ul li.select a{color:#e74d3d;}
.ty-item-grid-c2 .ty-item-grid-inner-t ul li.select .ty-item-c{height: 45px;}

.ty-item-grid-c2 .ty-item-grid-inner-c{margin-top:-1px;border:1px solid #e7e7e7;padding:10px 20px; min-height: 500px;}
.ty-item-grid-c2 .ty-item-grid-inner-c h2{color:#282828;font-size:26px;font-weight:normal;text-align:center;padding-top:45px;padding-bottom:34px;}
.ty-item-grid-c2 .ty-item-grid-inner-c .ty-item-tab{text-align:left;}

.ty-item-grid-c2 .ty-item-grid-inner{ margin-bottom: 20px;}
.ty-item-grid-c2 .ty-item-grid-inner table.specification{width:877px;font-size:12px;margin:20px;}
.ty-item-grid-c2 .ty-item-grid-inner table.specification td{padding-left:10px;height:27px;border-bottom:1px solid #ebebeb;text-align:left;}


/*0603*/
.ty-p-content dd.o-amount{/* overflow: hidden;*/ }
.ty-p-content dd.o-amount a{display: inline-block; *display: block; *zoom:1; width: 20px; height: 25px; line-height: 25px; background: #fafafa; border: 1px solid #ccc; color: #000; text-align: center; vertical-align: middle;}
.ty-p-content dd.o-amount input{display: inline-block; *display: block; *zoom:1;  width: 38px; height: 25px; line-height: 25px; border: 1px solid #ccc; margin-right: -1px; text-align: center; font-size: 12px; margin-left: -1px; vertical-align: middle;}
.ty-grid-gspic-btn{   position: absolute;  width: 100%;  top: 0;  left: 0;}
.ty-grid-gspic-btn a{ width: 26px; height: 100px; display: block; position: absolute; top:0; background: #eee;overflow: hidden;}
.ty-grid-gspic-btn a i{ border-width: 10px;  border-style: solid;  border-color: #eee #A6A6A6 #eee #eee;  width: 0;  display: block;  height: 0;  margin-top: -10px;position: relative;top:50%;left:-4px;}
.ty-grid-gspic-btn a.sbtn-left{ left: -30px;}
.ty-grid-gspic-btn a.sbtn-right{ right: -30px;}
.ty-grid-gspic-btn a.sbtn-right i{ border-color: #eee #eee #eee #A6A6A6;   left: 8px;}
/*0618*/
.modal-heads{border-bottom: 1px solid #ddd;}
.modal-heads .r_logo{margin-top: 10px;}
.modal-heads .r_logo li{line-height: 32px;}
.modal-heads .r_logo .rlogo{ margin-left: 20px; font-size: 16px; line-height: 31px;}
.modal-heads .r_logo .rlogo img{ height: 31px; width: 81px;}
.modal-heads button.close{ margin-right: 20px;}
.modal-contents .login_body{width: 450px;overflow: hidden;}
.modal-contents .login_input{width: 100%;}
.modal-contents .form-group input{ width: 70%;}
.modal-contents .login_tip{ width: 70%;}
.modal-contents .login_btn{height: 40px;width: 50%;margin:0 auto;}
.modal-contents .login_btn a.btn{width: 100%;margin: 0 auto;display: block;}
.modal-contents .login_other{ overflow: hidden;width:84%;margin:0 auto;}
.ty-c1-grid-l .ty-grid-icon ul{padding-left:11px;}
.ty-c1-grid-l .ty-grid-icon li{margin-right:21px;}
.ty-c1-grid-l .ty-grid-collect ul{padding-left: 90px;}

.ty-Xbase-row4 .ty-Xaction-Buy a{margin-left: 11px;}

/*.ty-Xbase dl{padding-left: 76px;}
.ty-c1-grid-m{width: 618px;}*/
.ty-c1-grid-m .ty-panel,.ty-c1-grid-m .ty-Xbase-row{padding-left:11px;padding-right:11px;}

.ty-item-grid-c2 .ty-item-grid-inner-t li{width:300px;}

.ty-Xcomment-list dd{width: 743px;}
.pop .container .pop_item{left: 200px;}
.ty-item-grid-c2 table.specification {width: 877px;font-size: 12px;margin: 20px;margin-bottom:59px;}

.ty-item-grid-c2 .ty-item-grid-inner-t .btn-buy{background:url(../images/item/btn-buy2.jpg)!important;display:block;width: 211px;height:48px; border:none;background-position: 0px;}
.ty-item-grid-c2 .ty-item-grid-inner-t i.icon-spjs{background-position:-300px -9px;left:45px;}
.ty-item-grid-c2 .ty-item-grid-inner-t i.icon-spxq{background-position:-320px -9px;left:26px;}
.ty-item-grid-c2 .ty-item-grid-inner-t i.icon-tchy{background-position:-340px -9px;left:31px;}
.ty-item-grid-c2 .ty-item-grid-inner-t i.icon-shbz{background-position:-360px -9px;left:48px;}
	


@keyframes aniCar {
	0% {-webkit-transform: translateY(0)
    }
    50% {-webkit-transform: translateY(-6px)
    }
    100% {-webkit-transform: translateY(0)
    }
}
@-webkit-keyframes aniCar {
	0% {-webkit-transform: translateY(0)
    }
    50% {-webkit-transform: translateY(-6px)
    }
    100% {-webkit-transform: translateY(0)
    }	
}
@-moz-keyframes aniCar {
	0% {-moz-transform: translateY(0)
    }
    50% {-moz-transform: translateY(-6px)
    }
    100% {-moz-transform: translateY(0)
    }		
}
@-o-keyframes aniCar {
	0% {-o-transform: translateY(0)
    }
    50% {-o-transform: translateY(-6px)
    }
    100% {-o-transform: translateY(0)
    }		
}												