.btn-link{
  border-radius: 2rem;
  width: 80%;
  text-align: center;
  background: #daf5f2;
  color: #2ec1ae;
  font-size: 1rem;
  display: block;
  margin-left: 1rem;
  padding: 0.1rem 0;
}

.btn-circle{
    @extend .btn-link;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    padding: 0;
}
