.btn-link{
    border-radius: 2rem;
    width: 80%;
    text-align: center;
    background: #daf5f2;
    color: #2ec1ae;
    font-size: 0.8rem;
    display: block;
    margin: auto;
    height: 1.6rem;
    line-height: 1.6rem;
    vertical-align: middle;

}

.btn-circle{
    @extend .btn-link;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    padding: 0;
}
