@import "../../../global/_settings/_setting_pages";
@import "../../_common/com.scss";
/***************************************注册 start*****************************************/
.r_progress em{
	background: url(../images/reg_progress.jpg) no-repeat;
	width: 100%;
	height: 38px;
	text-indent: -99999em;
	display: block;
}
.r_progress.r_p2 em{
	background-position: 0 -38px;
}
.r_progress.r_p3 em{
	background-position: 0 -75px;
}
.r_main{
	margin-top: 20px;
}
.r_wrap{
	margin: 50px 0;
	min-height: 325px;
}
div.r_wrap_list{
	width: 730px;
	margin: 0 auto;
	min-height: 500px;
	input{
		width: 335px;
		height:39px;
		padding:0 30px;
		display: inline-block;
		margin-top: 0;
	}
	select{
		width: 110px;
		padding:6px 0;
	}
	.form-group label,.r_waddress{
		display: inline-block;
	}
}
.r_wrap_list.r_wmessage{
	width: 920px;
	margin-left:210px;
}
.r_wrap_list.r_wyzsj,.r_wrap_list.r_szpwd{
	padding-top: 50px;
}
.r_wrap_list input.user_adetail{
	margin-top: 15px;
}
div.r_wrap_list input.phone_yzm{
	width: 185px;
}
.r_wrap_list input.phone_yzm,.r_wrap_list input.user_adetail{
	background:none;
}
.r_logo{
	overflow:auto;
	zoom:1;
	width:100%;
	.rlogo{
		margin-left:27px;
		font-size:24px;
		color:#666666;
		img{
			height: 60px;
			width: 160px;
		}
	}
	li{
		float:left;
		margin-left:13px;
		color:#e6e6e6;
		line-height:62px;
	}
}
.r_login{
	float:right;
	padding-left:29px;
	display:inline;
	background-image:url(../images/register/icon.png);
	background-position:0px -20px;
	background-repeat:no-repeat;
	height:15px;
	line-height:15px;
	a{
		color:#ff6600;
		font-size:12px;
	}
}
.msgs{
	display:inline-block;
	width:104px;
	color:#fff;
	width: auto;
	margin-left: 20px;
	&.gray{
		background-color: #eee;
		color:#333;
		border:1px solid transparent;
		&:hover{
			background-color:#ccc;
			color:#fff;
			border-color:#aaa;
		}
	}
}
.r_yzbtn{
	margin-left:20%;
	margin-top: 50px;
	a.btn{
		width: 30%;
		margin: 0 auto;
		font-size: 18px;
	}
}

.r_wrap_list div.r_wcheckbox input{
	width: auto;
	height: auto;
	padding:0;
}
.r_wrap_list .form-group label,.r_waddress{
	display: inline-block;
}
.r_wstip{
	span{
		font-size: 16px;
		color: #ff6600;
		margin-left: 10px;
	}
	p a{
		color: #ff6600;
	}
	.r_wpeople{
		width: 300px;
		height: auto;
		li{
			display: block;
			color: #333;
			margin-bottom: 10px;
		}
	}
}
.error_msg{
	display: inline-block;
	margin-left: 20px;
}
.login-yh.login_body{
	width: 100%;
	min-height: 590px;
	padding: 130px 0 0 0;
	border: 1px solid #ff6600;
	margin: 20px auto;
}
#vCode{
	border:none;
	color: #333;
	padding: 0;
	width: 50px!important;
	margin-left: 20px;
}
p.error_msg2{
	display: inline-block;
	color: #666;
	font-size: 18px;
}
.for-phonebtn{
	margin-left: 30%;
}
.modal-body{
	max-height: 400px;
	overflow: auto;
}
.r_wyzsj .form-group label,.r_wmessage .form-group label{
	width: 85px;
	font-weight: normal;
	text-align: right;
	color:#666;
}
input.bd_col{
	border:1px solid #ff6600!important;
}
p.text-danger,p.text-danger:hover{
	color: #ff6600;
}
div.r_wcheckbox label{
	width: 300px;
}

.modal .modal-lg{width:900px;}
/***************************************注册 end*****************************************/
