@import "../../../modules/_settings/_setting_pages";
@import "../../_common/com.scss";
@import "../../_common/uc_side_nav.scss";
@import "../../order/list/picker.scss";


.ele_contract{
	color: #666;
	margin-left: 20px;
	font-size: 16px;
	.ele_chead{ 
		text-align: center;
		h2{
			font-weight: 600;
			font-size: 20px;
			float:left;
			width:100%;
		}
		ul{
			text-align: left;
			font-size: 18px;
			float:right;
		}
		li{
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
	.ele_cmain{
		text-align: left;
		margin-bottom: 50px;
		.span{
			margin-left: 33px;
			display: block;
		}
		.delivery_input{
			border-bottom: 1px solid #000;
			display: inline-block;
			margin: 0;
			padding: 0 5px;
			min-width: 60px;
			text-align: center;
		}		
	}
	h3,em,h4{
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	em{
		margin-bottom: 5px;
		display: block;
		font-style: normal;
	}
	h4{
		margin-bottom: 15px;
	}
	h5{
		margin-bottom: 10px;
		margin-top: 0;
		font-weight: bold;
	}
	.delivery span{
		display: inline-block;
		margin: 0;
	}
	p{
		font-size: 14px;
		margin-left: 33px;
		line-height: 25px;
	}
	.table{
		>thead>tr>th{
			border:1px solid #666!important;
		}
		>tbody>tr>td{
			font-size: 14px;
		}
		th,td{
			border: 1px solid #666;
			min-width: 82px;
			text-align: center;
		}
	}
	.ele_cmoney{
		text-align: left!important;
		font-size: 16px!important;
	}
}
.myorder-inp{
	border: none;
	border-bottom: 1px solid #ff6600;
	width: 92%;
	color: #666;
	padding: 0 5px;
}
.ele_cfoot {
  border-top: 2px solid #ddd;
  text-align: right;
  margin-bottom: 50px;
  padding-top: 10px;
  a{
  	color: #ff6600;
  }
}