.pop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // display: flex;
  //
  // -webkit-box-align: center;
  // -moz-box-align: center;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // align-items: center;
  // -webkit-box-pack: center;
  // -moz-box-pack: center;
  // -ms-flex-pack: center;
  // -webkit-justify-content: center;
  // justify-content: center;

  pointer-events: none;
  z-index: 2;
  .pop_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
  }
  .pop_content{
    // position: relative;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 84%;
    min-width: 290px;
    min-height: 5rem;
    height: 60%;
    background: #fff;
    text-align: center;
    z-index: 5;
    opacity: 0;
    border-radius: 0.2rem;
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
    font-size: 0.6rem;
  }
  &.active{
    .pop_bg{
      opacity: 1;
      pointer-events: auto;
    }
    .pop_content{
      pointer-events: auto;
      -webkit-animation-name: anim-open;
      animation-name: anim-open;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
}
@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); transform: scale3d(0.9, 0.9, 1); }
}
