<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
</head>
<body>
@@include('../_common/header/header.html')
<div class="wrapper">
    <div class="current_path container">
        <a href="${rc.contextPath}/">首页</a> > <a href="${rc.contextPath}/account-center.html">会员中心</a> > <a href="${rc.contextPath}/order/list.html">我的订单</a> > <a class="currents"> 订单详情 </a>
    </div>
    <div class="myaccount_main">
        <div class="container">
            <div class="row clearfix">
                <div class="account_l fl wid-2">
                    @@include('../_common/account.hbs')
                </div>
                <div class="account_r fl wid-10">
                    <div class="ele_contract">
                      <div class="ele_comt">
                        <div class="ele_chead">
                          <h2>联华商品交易平台电子购销合同</h2>
                          <ul>
                            <li>合同编号：${(order.orderNo)!''}</li>
                            <li>签订地点：广东省广州市</li>
                            <li>签订时间：${order.signTime?string("yyyy-MM-dd HH:mm:ss")}</li>
                          </ul>
                        </div>
                        <div class="ele_cmain">
                          <h3>甲方(卖方)名称：${order.sellerName}</h3>
                          <h3>乙方(买方)名称：${order.buyerName}</h3><br/>
                          <em>一、商品信息、数量和金额</em>
                          <table class="table ">
                            <thead>
                              <tr>
                                <th>类别</th>
                                <th>商品名称</th>
                                <th>品牌</th>
                                <th>仓库</th>
                                <th>规格型号</th>
                                <th>数量(${order.unit})</th>
                                [#if spGoods.valuation==0] 
                                <th>基价</th>
                                <th>升贴水(元/${order.unit})</th>
                                <th>点价截止时间</th>
                                [#else]
                                <th>单价</th>
                                [/#if]
                                <th>总金额(元)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>${order.catName1}</td>
                                <td>${order.catName2}</td>
                                <td>${order.brandName}</td>
                                <td>${order.storageName}</td>
                                <td>${spGoods.model}</td>
                                <td>[#if order.quantity?if_exists] ${order.quantity?string('0.####')} [/#if]</td>
                                [#if spGoods.valuation==0]
                                       [#if order.status==3]
                                <td>[#if orderConfirmLog?if_exists] ${orderConfirmLog.price?string('0.00')} [/#if]</td>
                                       [#else]
                                <td>${order.pricingContract!}</td>
                                     [/#if]
                                <td>${order.premium?string('0.00')}</td>
                                <td>${order.pricingDendline}</td>
                                [#else]
                                <td>[#if order.unitPrice?if_exists] ${order.unitPrice?string("currency")} [/#if]</td>
                                [/#if]
                                [#if spGoods.valuation==0]
                                  [#if order.status==3]
                                  <td>${(order.totalPrice)?string("currency")}</td>
                                  [#else]
                                  <td>(${spGoods.exchangeName}${spCat2.pageTitle}${spGoods.contractPeriod} [#if order.premium>0]+[/#if] [#if order.premium != 0]${order.premium?string('0.00')}[/#if]) * ${order.quantity?string('0.####')}</td>
                                  [/#if]
                                [#else]
                                <td>${(order.totalPrice)?string("currency")}</td>
                                [/#if]
                              </tr>
                              <tr>
                                <td colspan="11" class="ele_cmoney"><b>合计（大写）：</b>
                                [#if spGoods.valuation==0]
                                  [#if order.status==3]
                                  ${money}
                                  [#else]
                                  (${spGoods.exchangeName}${spCat2.pageTitle}${spGoods.contractPeriod} [#if order.premium>0]+[/#if] [#if order.premium != 0]${order.premium?string('0.00')}[/#if]) * ${order.quantity?string('0.####')}
                                  [/#if]
                                [#else]
                                  [#if money?if_exists]
                                    ${money}
                                  [#else]
                                    ${(order.totalPrice)?string("currency")}
                                  [/#if]
                                [/#if]
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <h5>备注：</h5>
                          <p>1.收市前10分钟不接受点价。</p>
                          <p>2.[#if spGoods.isNightPlate?if_exists && spGoods.isNightPlate==1] 接受夜盘点价 
                            [#else] 不接受夜盘点价 [/#if]</p>
                          <p>3.合同总金额=[#if spGoods.valuation==0] (基价+升贴水)*数量 [#else] 单价*数量 [/#if]</p>
                          <em>二、交货方式</em>
                          [#if spGoods.deliveryWay?if_exists && spGoods.deliveryWay==0]
                          <span>
                          ${spGoods.deliveryWayName}
                          </span>
                          <p>自提地址：[#if spGoods.storage==99] ${spGoods.storageAddr} [#else] ${spGoods.storageName} [/#if]</p>
                          [#else]
                          <span>
                          ${spGoods.deliveryWayName}
                          </span>
                          <p>送货地址：${order.deliveryAddress}</p>
                          [/#if]
                          <em>三、资金结算支付方式</em>
                          <p>${spGoods.paymentWayName}</p>
                          <p></p>
                          <em>四、合理损耗及计算方式</em>
                          <p>以仓库出库单为准，合力磅差为±1‰。</p>
                          <p>货款结算方式：全款</p>
                          <em>五、解决合同纠纷的方式</em>
                          <p>买卖双方友好协商解决，协商不成，则向合同签订地所在地法院提起诉讼。</p>
                          <em>六、验货办法、质量标准及违约条款</em>
                          <p>1、买方应从速检验卖方所交商品，如有质量异议的，应于交货之日起 5 个工作日内通知卖方，卖方需在 3 个工作日内回复相关问题，双方本着协商的原则解决质量问题。</p>
                          <p>2、质量技术标准要求： [#if spGoods.quality?if_exists]  ${spGoods.quality} [#else] 按厂家标准 [/#if] 。</p>
                          <p>3、包装方式： [#if spGoods.manner?if_exists] ${spGoods.manner} [#else] 厂家出厂包装 [/#if]。 </p>
                          <p>4、卖方延迟交货的，每延迟一日须向买方支付相当于未提货物价值  0.5‰ 的滞纳金。</p>
                          <p>5、任何一方违反约定导致合同客观上无法履行或守约方守约方行使解除权的，应向守约方支付本批货款 10% 的违约金，并赔偿守约方受到的全部经济损失。</p>
                          <em>七、合同的生效</em>
                          <p>本合同自买方付款成功之时起生效，若自签订合同起 3 日内买方未支付相应款项，合同自动失效。</p>
                        </div>
                      </div>
                    </div>
                    <div class="ele_cfoot">
                      <button onclick="printContract()" class="btn btn-warning" >打印合同</button>
                      <a target="_blank" href="${rc.contextPath}/mall/item/detail/${spGoods.id}.html">该订单对应商品详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
<script type="text/javascript">
function printContract() {
  open("${rc.contextPath}/order/contract/print/${order.id}.html");
}
</script>
</body>
</html>