
<!doctype html>

<html>
<head>
    <title>MARKDOWN文档模板</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/{{commoncss}}">
    <link rel="stylesheet" href="/css/t/markdown.css">
    <!--[if lt IE 9]>
        <script src="/js/t/ie.js"></script>
    <![endif]-->

</head>
<body>
    <div class="markdown-body">
        <div class="container u-ma" style="">
            <div class="span9" style="">
                <p><a href="https://github.com/webkixi/FKP-REST"><strong>FKP-REST</strong></a> 是一套完全由前端技术构建的高性能框架，后端由koajs，前端由webpack/gulp构建而成  </p>
                    ~~md~~
            </div>

            <div class="span3 side">
                <div id="side-menu" class="side-menu">
                    <h4>文章目录</h4>
                    <ul>
                        ~~md-menu~~
                    </ul>
                </div>
                <div id="good" style="position: relative;"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src='/js/{{commonjs}}'></script>
    <script type="text/javascript" src='http://www.agzgz.com/js/t/prettfy.js'></script>
</body>
</html>
