<!doctype html>
<html>
<head>
    <title>h5首页</title>
    @@include('../_common/header/head.html')
    <link rel="stylesheet" href="/css/website.css">
</head>
<body>
<div class="" data-module="index">
    <div class="container">
        <div id='markdown' class="markdown">
            ~~md~~
        </div>
    </div>

</div>
<hr/>
<div class='u-clearfix' id='demo'></div>
@@include('../_common/footer/foot.html')
<script src="/js/h5-lazypage.js"></script>
</body>
</html>
