@import "../_settings/_setting_pages";

// 常用方法
//==============
/**
 * @tofishes 2015年04月14日 增加一些注释
 *
 * 前缀u-表示util，工具类前缀
 */
// .u-wrap {
//   @include wrapper(12,true);
// }
// .u-wrap_small {
//   width:1200*$px;
//   margin:auto;
// }


// 清除浮动
.u-clearfix {
  @include clearfix;
  @extend %clearfix;
}
//
.u-cleaarfixs,.cl{
  position: relative;
}
.u-cleaarfixs {
  *zoom: 1;
}
.u-cleaarfixs:before,.u-cleaarfixs:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
.u-cleaarfixs:after {
  clear: both;
}
//删除线
.u-del{
  text-decoration:line-through;
}

.container {
    @include center-block(false);
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


// class span1-$gridColumns
// span的class循环输出，通过变量$gridSpanSwitch来控制是否输出
//-----------------------------------------------------
@if $gridSpanSwitch {
  @for $i from 1 through $gridColumns {
    .span#{$i} {
      @extend %float;
      @extend %margin-gutter;
      position: relative;

      width:getWidth($i);

      @if $gridPercentSwitch and $lte7{
        *width:getWidth($i) - $gridCorrection;
      }
    }
  }
}
//lgh 20150813
@if $gridSpanSwitch2 {
  @for $i from 1 through $gridColumns2 {
    .span10-#{$i} {
      @extend %float;
      @extend %margin-gutter2;
      position: relative;

      width:getWidth2($i);

      @if $gridPercentSwitch2 and $lte7{
        *width:getWidth2($i) - $gridCorrection;
      }
    }
  }
  .span_ul{
     @extend %margin-gutter-2;
  }
}

@if $gridRemSwitch {
  .remrow{
      @include clearfix;
      @extend %clearfix;
      width: 100%;
      margin-bottom: 0.2rem;
  }
  $tmp: 1.15rem;
  @for $i from 1 through $gridColumns {
    .col-#{$i} {
        @extend %float;
        padding: 0.2rem;
        position: relative;

        width:getRem($i);
    }
    .row-#{$i} {
        height:getRem($i,false);
    }
  }
}

// lgh 20150708
@if $gridWidSwitch {
  @for $i from 1 through $gridColumns {
    .wid-#{$i} {
      @extend %float;
      position: relative;

      width:getwidthNomargin($i);
    }
  }
}
