
<!doctype html>

<html>
<head>
    <title>ICONFONTS列表</title>
    @@include('../_common/header/h5_rem_head.html')
    <style >
        .icon-cell{text-align: center;overflow: hidden;height: 2.4rem;}
    </style>
</head>
<body>
<div>
    <!-- cat -->
    <div class="remrow u-mt_20">
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-appreciate"></i>
<p style='font-size:14px;'>ifont icon-appreciate</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-edit"></i>
<p style='font-size:14px;'>ifont icon-edit</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-emoji"></i>
<p style='font-size:14px;'>ifont icon-emoji</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-favorfill"></i>
<p style='font-size:14px;'>ifont icon-favorfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-favor"></i>
<p style='font-size:14px;'>ifont icon-favor</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-locationfill"></i>
<p style='font-size:14px;'>ifont icon-locationfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-location"></i>
<p style='font-size:14px;'>ifont icon-location</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-roundcheckfill"></i>
<p style='font-size:14px;'>ifont icon-roundcheckfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-roundcheck"></i>
<p style='font-size:14px;'>ifont icon-roundcheck</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-warnfill"></i>
<p style='font-size:14px;'>ifont icon-warnfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-warn"></i>
<p style='font-size:14px;'>ifont icon-warn</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-deliver"></i>
<p style='font-size:14px;'>ifont icon-deliver</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-refresh"></i>
<p style='font-size:14px;'>ifont icon-refresh</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-moreandroid"></i>
<p style='font-size:14px;'>ifont icon-moreandroid</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-deletefill"></i>
<p style='font-size:14px;'>ifont icon-deletefill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-cart"></i>
<p style='font-size:14px;'>ifont icon-cart</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-qrcode"></i>
<p style='font-size:14px;'>ifont icon-qrcode</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-delete"></i>
<p style='font-size:14px;'>ifont icon-delete</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-profile"></i>
<p style='font-size:14px;'>ifont icon-profile</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-cartfill"></i>
<p style='font-size:14px;'>ifont icon-cartfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-homefill"></i>
<p style='font-size:14px;'>ifont icon-homefill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-squarecheckfill"></i>
<p style='font-size:14px;'>ifont icon-squarecheckfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-appreciatefill"></i>
<p style='font-size:14px;'>ifont icon-appreciatefill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-infofill"></i>
<p style='font-size:14px;'>ifont icon-infofill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-info"></i>
<p style='font-size:14px;'>ifont icon-info</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-down"></i>
<p style='font-size:14px;'>ifont icon-down</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-creativefill"></i>
<p style='font-size:14px;'>ifont icon-creativefill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-creative"></i>
<p style='font-size:14px;'>ifont icon-creative</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-new"></i>
<p style='font-size:14px;'>ifont icon-new</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-cameraadd"></i>
<p style='font-size:14px;'>ifont icon-cameraadd</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-picfill"></i>
<p style='font-size:14px;'>ifont icon-picfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-markfill"></i>
<p style='font-size:14px;'>ifont icon-markfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-mark"></i>
<p style='font-size:14px;'>ifont icon-mark</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-people"></i>
<p style='font-size:14px;'>ifont icon-people</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-file"></i>
<p style='font-size:14px;'>ifont icon-file</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-repairfill"></i>
<p style='font-size:14px;'>ifont icon-repairfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-communityfill"></i>
<p style='font-size:14px;'>ifont icon-communityfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-community"></i>
<p style='font-size:14px;'>ifont icon-community</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-calendar"></i>
<p style='font-size:14px;'>ifont icon-calendar</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-cut"></i>
<p style='font-size:14px;'>ifont icon-cut</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-magic"></i>
<p style='font-size:14px;'>ifont icon-magic</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-backwardfill"></i>
<p style='font-size:14px;'>ifont icon-backwardfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-forwardfill"></i>
<p style='font-size:14px;'>ifont icon-forwardfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-playfill"></i>
<p style='font-size:14px;'>ifont icon-playfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-stop"></i>
<p style='font-size:14px;'>ifont icon-stop</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-tagfill"></i>
<p style='font-size:14px;'>ifont icon-tagfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-tag"></i>
<p style='font-size:14px;'>ifont icon-tag</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-group"></i>
<p style='font-size:14px;'>ifont icon-group</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-move"></i>
<p style='font-size:14px;'>ifont icon-move</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-hot"></i>
<p style='font-size:14px;'>ifont icon-hot</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-post"></i>
<p style='font-size:14px;'>ifont icon-post</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-upload"></i>
<p style='font-size:14px;'>ifont icon-upload</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-videofill"></i>
<p style='font-size:14px;'>ifont icon-videofill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-video"></i>
<p style='font-size:14px;'>ifont icon-video</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-writefill"></i>
<p style='font-size:14px;'>ifont icon-writefill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-write"></i>
<p style='font-size:14px;'>ifont icon-write</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-add"></i>
<p style='font-size:14px;'>ifont icon-add</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-move1"></i>
<p style='font-size:14px;'>ifont icon-move1</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-safe"></i>
<p style='font-size:14px;'>ifont icon-safe</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-goodsfill"></i>
<p style='font-size:14px;'>ifont icon-goodsfill</p>
</h3>
        <h3 class='u-f10 u-fl span2 icon-cell'><i class="ifont icon-messagefill"></i>
<p style='font-size:14px;'>ifont icon-messagefill</p>
</h3>
    </div>
</div>
</body>
</html>
