
<!doctype html>

<html>
<head>
    <title>模仿鲜果联播首页--适合 H5--REM</title>
    @@include('../_common/header/h5_rem_head.html')
    @@include('../_common/header/header_h5_nav.html')
</head>
<body>
<div>
    <!-- cat -->
    <div class="remrow u-mt_40">
        <div class="u-clearfix" id="test"></div>
    </div>

</div>
<script src="/js/{{commonjs}}"></script>
<script src="/js/{{pagejs}}"></script>
</body>
</html>
