
<div class="account_nav">
	<dl>
		<dt>
			<i class="nav-icon"></i>会员中心
		</dt>
		<dd class="{{navAccount}}">
			<a href="/account/myaccount.html">我的账号</a>
		</dd>
		<dd class="{{navFirm}}">
			<a href="/firm/view.html">企业介绍</a>
		</dd>
		<dd class="{{navGoods}}">
			<a href="/goods/list.html">我的商品</a>
		</dd>
		<dd class="{{navOrder}}">
			<a href="/order/list.html">我的订单</a>
		</dd>
		<dd class="hidden">
			<a href="#">我的求购</a>
		</dd>
	</dl>
</div>