@import "./text";
@import "./datescroll";
@import "./textarea";
@import "./select";
@import "./radio";

input{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    appearance: none;
    outline:none;
    border-radius:0;

}
.select{
    .body{
        &:hover{
            background: #F0F0F0;
        }
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
