@import "./text";
@import "./datescroll";
@import "./textarea";
@import "./select";
@import "./radio";

input{
    -webkit-appearance: none;
    appearance: none;
    outline:none;
    border-radius:0
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
