@import "../../global/base/_css3";
//时间插件
@import "../datescroll/mobiscroll.animation.css";
@import "../datescroll/mobiscroll.frame.css";
@import "../datescroll/mobiscroll.frame.android.css";
@import "../datescroll/mobiscroll.frame.android-holo.css";
@import "../datescroll/mobiscroll.frame.ios-classic.css";
@import "../datescroll/mobiscroll.frame.ios.css";
@import "../datescroll/mobiscroll.frame.ios-classic.css";
@import "../datescroll/mobiscroll.frame.wp.css";
@import "../datescroll/mobiscroll.scroller.css";
@import "../datescroll/mobiscroll.scroller.android.css";
@import "../datescroll/mobiscroll.scroller.android-holo.css";
@import "../datescroll/mobiscroll.scroller.ios-classic.css";
@import "../datescroll/mobiscroll.scroller.ios.css";
@import "../datescroll/mobiscroll.scroller.wp.css";
@import "../datescroll/mobiscroll.android-holo-light.css";
@import "../datescroll/mobiscroll.wp-light.css";

@mixin form_unit {
    width: 96%;
    line-height: 1.5rem;
    font-size: 0.6rem;
    height: 1.65rem;
    div{
        display: inline-block;
        vertical-align: top;
    }
    label{
        display: inline-block;
        width: 20%;
        text-align: right;
        padding-right: 2.5%;
        vertical-align: top;
        em{
            font-style: normal;
        }
    }
    .body{
        text-indent: 0.4rem;
        width: 74%;
        display: inline-block;
        border: 2px solid #ddd;
        padding: 0.1rem 0;
        span{
            color: #999;
        }
        i{
            color: #999;
            display: block;
            float: right;
            margin-right: 0.3rem;
        }
    }
    .dot{
        display: none;
        position: absolute;
        left: 2rem;
        top: 2rem;
        right: 2rem;
        background-color: blue;
        height: 60%;
    }
}
