// 常用方法
//==============
/**
 * @tofishes 2015年04月14日 增加一些注释
 *
 * list，定义一些list列表项
 */

//水平列表
.hlist{
    list-style: none;
    font: normal normal normal 14px/150% Arial,Verdana,"微软雅黑";
    margin: 0;
    padding: 0;
    .item{
        .inner{ }
        height: auto;
        position: relative;
        margin: 0 0 0 10px;
        img{
            width: 100%;
            min-height: 100%;
            border: 0;
        }
        p{
            padding: 0;
            margin: 0;
        }
        a{
            text-decoration: none;
            border: none;
        }
        .hheader{
            padding: 10px;
        }
        .hbody{
            padding: 10px;
        }
        .hfoot{
            padding: 10px;
        }
        .dot{
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
//产品中心的图片列表
.elephant{
    small{
        font-size: 12px;
        color: #999;
        display: inline-block;
        width: 46px;
    }
    .item{
        float: left;
        padding: 5px;
        margin: 0;
        .inner{
            border: 1px solid #efefef;
        }
        .hheader{
            padding: 0;
            height: 200px;
            overflow: hidden;
        }
        .hbody{
            padding-top: 10px;
            p:first-child{
                // font-weight: bold;
            }
        }
    }
}

//tabswitch的内容列表栏
.fox{
    display: block;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    .item{
        float: left;
        padding: 5px 10px;
        margin: 0;
        width: auto;
        .inner{
            border: 1px solid #efefef;
        }
        .hheader{
            padding: 2px 0;
            overflow: hidden;
            a{
                border: none;
                width: auto;
                min-width: 60px;
            }
        }
        .hbody{
            padding-top: 10px;
            p:first-child{
                // font-weight: bold;
            }
        }
    }
    .active{
        background-color: #ff6600;
        a{
            color: #fff;
            font-weight: bold;
        }
    }
    li[data-cls="first"]{
        width: 104px;
        text-align: center;
    }
    li[data-cls="second"]{
        width: 50px;
        text-align: center;
    }    
}
.fox-active{
    background-color: #ff6600;
}

//tabswitch 的头部切换栏
// item  <li class="item">
// inner <li ..><div class="inner">
// hheader <li ..><div class="inner"><div class="hheader">
// hbody <li ..><div class="inner"><div class="hbody">
.tiger{
    font-size:16px;
    font-weight: bold;
    li:first-child{border-right: none;border-left: none;}
    li.active:first-child{border-right: 1px solid red; border-left: 1px solid red;}
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    .item{
        float: left;
        padding: 0;
        margin: 0;
        border-left: 1px solid #efefef;
        z-index: 1000;
        .inner{
            border: 1px solid #efefef;
        }
        .hheader{
            text-align: center;
            padding: 10px 0;
            overflow: hidden;
            a{
                display: block;
                border: none;
                width: 100%;
                height: 100%;
            }
        }
        .hbody{
            padding-top: 10px;
            p:first-child{
                // font-weight: bold;
            }
        }
    }
    .active{
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid red;
        border-bottom: none;
    }
}
.tiger-active{
    border-bottom: 1px solid red;
}

//分页列表
.pagi{
    display: block;
    font-size: 12px;
    .item{
        cursor: pointer;
        float: left;
        padding: 6px 9px;
        margin: 0 3px 3px;
        border-radius: 2px;
        background-color: #f1eff0;
        .inner{ }
        .hheader{
            padding: 0;
            a{
                border: none;
            }
        }
        .hbody{ }
    }
    .active{
        background-color: #ff6600;
        a{
            color: #fff;
            font-weight: bold;
        }
    }
}
.fox-active{
    background-color: red;
}
