// 常用方法
//==============
/**
 * @tofishes 2015年04月14日 增加一些注释
 *
 * list，定义一些list列表项
 */

.hlist{
    list-style: none;
    font: normal normal normal 14px/150% Arial,Verdana,"宋体";
    .item{
        .inner{ }
        height: auto;
        position: relative;
        margin-left: 10px;
        img{
            width: 100%;
            min-height: 100%;
            border: 0;
        }
        p{
            padding: 0;
            margin: 0;
        }
        a{
            text-decoration: none;
            border: none;
        }
        .hheader{
            padding: 10px;
        }
        .hbody{
            padding: 10px;
        }
        .hfoot{
            padding: 10px;
        }
        .dot{
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.elephant{
    small{
        font-size: 12px;
        color: #999;
        display: inline-block;
        width: 46px;
    }
    .item{
        float: left;
        padding: 5px;
        margin: 0;
        .inner{
            border: 1px solid #efefef;
        }
        .hheader{
            padding: 0;
            height: 200px;
            overflow: hidden;
        }
        .hbody{
            padding-top: 10px;
            p:first-child{
                // font-weight: bold;
            }
        }
    }
}

.fox{
    display: block;
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    .item{
        float: left;
        padding: 10px;
        margin: 0;
        .inner{
            border: 1px solid #efefef;
        }
        .hheader{
            padding: 2px 0;
            overflow: hidden;
            a{
                border: none;
                width: auto;
                min-width: 60px;
            }
        }
        .hbody{
            padding-top: 10px;
            p:first-child{
                // font-weight: bold;
            }
        }
    }
    .active{
        background-color: red;
        a{
            color: #fff;
            font-weight: bold;
        }
    }
}
.fox-active{
    background-color: red;
}

.tiger{
    font-size:16px;
    font-weight: bold;
    li:first-child{border-right: none;border-left: none;}
    li.active:first-child{border-right: 1px solid red; border-left: 1px solid red;}
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    .item{
        float: left;
        padding: 0;
        margin: 0;
        border-left: 1px solid #efefef;
        z-index: 1000;
        .inner{
            border: 1px solid #efefef;
        }
        .hheader{
            text-align: center;
            padding: 10px 0;
            overflow: hidden;
            a{
                display: block;
                border: none;
                width: 100%;
                height: 100%;
            }
        }
        .hbody{
            padding-top: 10px;
            p:first-child{
                // font-weight: bold;
            }
        }
    }
    .active{
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid red;
        border-bottom: none;
    }
}
.tiger-active{
    border-bottom: 1px solid red;
}
