@import "./form_base";
.radioInput{
   .radio_input {
    display: inline-block;
    position: relative;
    width: 0.7rem;
    height: 0.7rem;
    line-height: 0.4rem;
    margin-right: 0.2rem;
    outline: double;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #fff;
    border-radius: 50%;
    border-color: #2EC1AE;
    background-color: #fff;
    border: 0.05rem solid #2EC1AE; }


   input[type=radio]:checked:after {
        content: "\e625";
        position: absolute;
        left: -0.05rem;
        top: 0.08rem;
        font-size: 0.75rem;
        color: #2EC1AE;
    }

}
