@import "./form_base";
.form{
    padding: 2%;
    &.text{
        @include form_unit;
        .body{
            border: 1px solid #ddd;
            height: 1.08rem;
            width: 73%;
            padding: 2% 0.4%;
        }
        &.error{
            .body{
                border: 2px solid red;
            }
        }
    }
}
