<!doctype html>
<html>
<head>
    <title>支持多层目录结构</title>
    @@include('../../_common/header/head.html')
    <!--[if lt IE 9]>
        <script src="/js/ie.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <div class="wid-2">1</div>
    <div class="wid-2">2</div>
    <div class="wid-2">3</div>
    <div class="wid-2">4</div>
    <div class="wid-2">5</div>
    <div class="wid-2">6</div>
</div>
<hr/>
</body>
</html>
