<!doctype html>
<html lang="en">
<head>
<title>联华大宗</title>
@@include('../_common/header/head.html')
</head>
<body>
@@include('../_common/header/header2.html')
<div class="wrapper">
    <div class="container">
        <div class="clearfix">
            <ul class="r_logo fl">
                <li class="rlogo">
                    <a href="/index.html">
                        <img src="/images/logo.png">
                    </a>
                </li>
                <li>|</li>
                <li class="rlogo">账号注册</li>
            </ul>
            <div class="r_login">
                我已经注册，马上
                <a href="/account/login.html">登录</a>
            </div>
        </div>
        <div class="r_main">
            <div class="r_progress r_p1">
                <em>注册流程</em>
            </div>
            <!-- 手机短信验证码 -->
            <div class="r_wrap">
                <form action="/account/regist" id="RegCheck" method="post" >
                    <div class="r_wrap_list r_wyzsj">
                        <div class="form-group">
                            <span class="required">*</span>
                            <label for="name">手机号码：</label>
                            <input id="loginPhone" name="loginPhone" type="text" class="form-control user_phone" placeholder="请输入你的手机号码">
                            <p id="mobile_error" class="error_msg text-danger"></p>
                        </div>
                        <div class="form-group">
                            <span class="required">*</span>
                            <label for="name">验证码：</label>
                            <input type="text" id="code" name="code" class="form-control phone_yzm" placeholder="请输入短信验证码 " autocomplete="off">
                            <a class="btn btn-orange msgs" href="javascript:;" id="sendMobileCode">
                                <span id="dyMobileButton">获取短信验证码</span>
                            </a>
                            <span id="mobileCode_error" class="text-danger error_msg"></span>
                        </div>
                        <div class="r_yzbtn">
                            <a href="javascript:;" type="button" id="login_ok" class="btn btn-orange">验证手机</a>
                        </div>
                    </div>
                    <!-- 账户信息填写 -->
                    <div class="r_wrap_list r_wmessage hidden">
                       
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">用户名：</label>
                                <input id="loginName" name="loginName" type="text" class="form-control user_name" placeholder="用户名">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">密码：</label>
                                <input id="password" name="password" type="password" class="form-control user_pwd" placeholder="密码" autocomplete="off">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">确认密码：</label>
                                <input id="rePassword" name="rePassword" type="password" class="form-control user_pwds" placeholder="再次输入密码" autocomplete="off">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">联系人姓名：</label>
                                <input id="name" name="name" type="text" class="form-control user_tname" placeholder="联系人姓名">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">公司全称：</label>
                                <input id="firmFullName" name="firmFullName" type="text" class="form-control user_company" placeholder="公司全称">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">公司固话：</label>
                                <input id="landline" name="landline" type="text" class="form-control user_landline" placeholder="公司固话">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">传真号码：</label>
                                <input id="fax" name="fax" type="text" class="form-control user_fax" placeholder="传真号码">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">&nbsp;</span>
                                <label for="name">联系邮箱：</label>
                                <input id="eMail" name="eMail" type="text" class="form-control user_email" placeholder="邮箱地址">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">&nbsp;</span>
                                <label for="name">联系QQ：</label>
                                <input id="qq" name="qq" type="text" class="form-control user_qq" placeholder="qq号">
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group u_address">
                                <span class="required">*</span>
                                <label for="name">地区：</label> <select id="province" name="province" class="select select_address">
                                    <option value="">--选择省份--</option> 
                                    {{{province}}}
                                </select>
                                <select id="city" name="city" class="select select_address">
                                    <option value="">--选择城市--</option>
                                </select>
                                <select id="district" name="district" class="select select_address">
                                    <option value="">--选择区县--</option>
                                </select>
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="form-group">
                                <span class="required">*</span>
                                <label for="name">地址：</label>
                                <input type="text" id="address" name="address" class="form-control user_adetail" />
                                <p class="error_msg text-danger"></p>
                            </div>
                            <div class="r_wcheckbox col-lg-offset-1 col-md-offset-1">
                                <input type="checkbox" id="mustRead" name="mustRead" value="1">
                                <label for="u60_input">
                                    <div class="text">
                                        <p>
                                            <span>我已经阅读并同意</span>
                                            <a data-toggle="modal" data-target=".bs-example-modal-lg" href="javascript:void(0)">《注册协议》</a>
                                        </p>
                                    </div>
                                </label>
                            </div>
                            <div class="r_yzxx col-lg-offset-3 col-md-offset-3">
                                <a href="javascript:;" type="button" id="account_ok" class="btn btn-orange ">同意服务协议并注册</a>
                            </div>
                    </div>
                    <!-- 注册成功 -->
                    <div class="r_wrap_list r_wsuccess hidden">
                        <div class="r_wstip">
                            <img src="/images/reg_ok.png">
                            <span>
                                注册成功！您的账号为：<i class="Regname"></i></i>
                            </span>
                            <br /> <br />
                            <p>
                                恭喜您获得“初级会员”资格，您当前有查看的权利。若要获得交易资格，请
                                <a href="/account/myaccount.html#myapprove">进一步认证</a>
                                升级为”认证会员“。
                            </p>
                            <p>客服专员将竭诚为您解决各类网站问题</p>
                            <div class="r_wpeople">
                                <ul>
                                    <li>联系电话：020-38869600-122</li>
                                    <li>传真号码：020-38860635</li>
                                    <li>联系邮箱：service@kingvision.com.cn</li>
                                    <li>联系地址：广东省广州市白云区广州大道北1618号君华香柏广场F4</li>
                                    <li>邮政编码：510510</li>
                                    <li>为您提供专业的一站式服务！</li>
                                </ul>
                            </div>
                            <div class="col-lg-offset-1 col-md-offset-1">
                                <a href="/account/myaccount.html" type="button" class="btn btn-orange ">确定</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="registInfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- 登录框 start -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">会员注册协议</h4>
            </div>
            <div class="modal-body">
                <div class="doc">
                    一、声明
                    <p>
                        广州联华实业发展有限公司（以下简称“联商所”）依据本协议的规定为会员提供服务，本协议在会员和联商所间具有合同法上的法律效力。用户只有接受本协议所有条款才能成为会员，否则用户无权使用联商所于本协议下所提供的服务。用户在联商所的系统注册、登录或使用系统服务，即表示用户完全接受本协议的全部条款。除本协议条款之外，联商所系统公布的包括但不限于有关规则、流程、管理制度以及公告等资料文件也表示用户认可并接受。
                    </p>
                    二、会员
                    <ul>
                        <li>2.1 会员分类</li>
                        <li>
                            <ul>
                                <li>2.1.1 个人会员:<div>社会上有需求的自然人均可以在联商所系统注册成为个人会员。</div></li>
                                <li>2.1.2 普通会员: <div>生产企业、贸易商、仓储、加工、运输以及终端企业均可在联商所系统注册成为普通会员。</div></li>
                                <li>2.1.3 高级会员: <div>普通会员如有需要，可申请认证成为联商所的高级会员。申请认证成为高级会员须在联商所系统上提交公司的营业执照、组织机构代码以及税务登记证原件扫描件或加盖公章的复印件扫描件并签订相关文件，经联商所审核通过后获得相关资格。</div></li>
                                <li>2.1.3 VIP会员: <div>普通会员可根据自身需要，直接申请认证成为联商所的VIP会员。申请认证成为VIP会员须在联商所系统上提交公司的营业执照、组织机构代码以及税务登记证原件扫描件或加盖公章的复印件扫描件并签订相关文件，经联商所审核通过后获得相关资格。</div></li>
                            </ul>
                        </li>
                        <li>2.2
                            用户成为会员后，如果资料信息有变更，须及时在联商所的系统上更新相关资料信息，否则由此产生的一切责任和风险由会员自行承担，联商所不承担由此产生的任何责任。
                        </li>
                        <li>2.3 无经营或特定经营资格的企业法人或以虚假伪造的证照不当注册并经认证从事交易的，其与联商所之间的协议自始无效，联商所一经发现，有权立即注销该会员资格。</li>
                    </ul>
                    三、会员的权利和义务
                    <ul>
                        <li>3.1 个人会员和企业普通会员有权通过登录联商所系统浏览免费资讯以及享受联商所定期推送服务；个人会员和企业会员有根据自身需求向联商所购买定制服务的权利。</li>
                        <li>3.2 企业高级会员和VIP会员除享有普通会员的权利，还有权根据本协议的规定及联商所发布的相关规则、管理制度、公告等，利用联商所的系统登录、发布交易信息、查询商品信息、购买和销售商品、参与融资交易以及参加联商所举办的有关活动。除此之外，VIP会员还享有联商所资讯增值服务。</li>
                        <li>3.3 会员有权根据自身需要，更改自身帐号下的密码。会员不得以任何形式擅自转让或授权他人使用自己在联商所系统注册的帐号。 所有会员只能注册一个帐号，不得以他人名义重复注册帐号，会员之间具有相对独立性。</li>
                        <li>3.4 会员确保提供的注册信息或认证等资料系真实、准确、完整、合法，该资料包括但不限于真实姓名、公司名称 、联系电话、地址、证照等；会员保证联商所及其他第三方可以通过上述联系方式与自己进行联系；会员也应在相关资料实际变更时，予以及时更新。 </li>
                        <li>3.5 会员在联商所系统发布的信息应真实、准确、合法、完整，并遵守联商所相关规则、管理制度和公告等。</li>
                        <li>3.6
                            会员不得在系统买卖国家禁止销售的或限制销售的商品、不得买卖侵犯他人知识产权或其他合法权益的商品，也不得买卖违背社会公共利益或公共道德的商品。 </li>
                        <li>3.7 会员不得在联商所的系统发布各类违法或违规信息，包括但不限于商品信息、交易信息、社区帖子、商品留言，店铺留言，评价内容等。</li>
                        <li>3.8 会员在联商所系统交易应当遵守诚实信用原则，不得串通压价或抬价、不得以干预或操纵商品价格等不正当竞争方式扰乱网上交易秩序，不得从事与网上交易无关的不当行为。</li>
                        <li>3.9 会员承诺自己在使用联商所系统实施的所有行为遵守国家法律、法规和联商所的相关规定以及社会公共利益或公共道德。对于因违法上述规定而导致不利后果的的发生，会员独立承担相应的责任。</li>
                        <li>3.10 会员在联商所系统交易过程中如与其他会员因交易产生纠纷，可以请求联商所从中予以协调。会员如发现其他会员有违法或违反联商所相关规定的行为，也可以向联商所举报。</li>
                        <li>3.11 会员应自行承担因交易、交收等产生的相关费用，并依法纳税。</li>
                        <li>3.12 会员有根据联商所的规则、规定、协议以及公告等按时交纳会员费、资讯费、交易、交收等费用的义务 。</li>
                        <li>3.13 会员不得通过任何方式干扰或试图干扰联商所系统的正常运作。</li>
                    </ul>
                    四、 联商所的权利和义务 
                    <ul>
                        <li>4.1 会员理解并同意：鉴于本协议下联商所所提供服务的特征，联商所仅为会员提供资讯、商品买卖和和信息交流的平台。联商所如发现可能违反国家法律法规、侵犯他人隐私等合法权益、违背市场及行业基本规律的的行为、商品、信息等，联商所有权作出相应处理。</li>
                        交易平台如发现可能违反国家法律法规、侵犯他人隐私等合法权益、违背市场及行业基本规律的的行为、商品、信息等，交易平台有权作出相应处理。
                        <li>4.2 联商所有义务在现有技术水平的基础上，努力确保系统的正常运行，尽力避免服务中断，或应将中断时间限制在最短时间内，保证会员网上交易活动的顺利进行。</li>
                        <li>4.3 联商所有义务对会员在注册使用系统和系统中所遇到的问题及反映的情况及时作出回复。</li>
                        <li>4.4 联商所有权对会员的注册资料进行审核，对存在任何问题或怀疑的注册资料，有权发出通知询问会员并要求会员做出解释、改正，或根据情况，直接做出处罚、删除等处理。 </li>
                        <li>4.5
                            根据国家法律法规、本协议的内容、联商所的相关规则、流程、管理制度和公告等，依据联商所所掌握的事实依据，联商所有权认定会员存在违法或违反本协议行为以及在联商所系统上的其他不当行为。</li>
                        <li>4.6 会员在联商所交易系统交易与其他会员产生纠纷的，会员可通过联商所进行调解，也可通过仲裁、诉讼或国家法律规定的其他程序解决纠纷，应国家权力机关依法开展调查时要求联商所提供相关资料的，联商所将积极配合并依法提供有关资料；会员将纠纷告知联商所，或联商所知悉纠纷情况的，联商所审核后有权通过书面、电子邮件及电话，向纠纷双方了解纠纷情况，并有权根据需要将所了解的情况通过书面、电子邮件及电话告知对方。</li>
                        <li>4.7 联商所有权在不通知会员的前提下删除或采取其他限制性措施处理下列信息：包括但不限于以规避费用为目的；以炒作信用为目的；存在欺诈等恶意或虚假内容；与网上交易无关或不是以交易为目的；存在恶意竞价或其他试图扰乱正常交易秩序因素；该信息违反公共利益或可能严重损害本公司和其他会员合法利益的。
                        </li>
                        <li>4.8 会员因注册使用联商所服务而提供的与会员相关的信息数据，联商所应采取技术、管理措施对其充分保护。</li>
                    </ul>
                    五、服务的中断和终止 
                    <ul>
                        <li>5.1 在联商所未向会员收取相关服务费用的情况下，联商所可自行全权决定以合理的理由 (包括但不限于认为会员已违反本协议的字面意义和精神，或会员在超过100天内未登录等) 终止对会员的服务。
  联商所应确保系统的安全性、稳定性，确保服务的延续性。联商所如需暂停或中止全部或部分服务的，应提前24小时以公告的形式在系统上公布或通过会员所提供的联系方式尽可能快捷的告知会员，确保会员及时作出相应的准备。联商所应依照国家法律、法规及行业相关规定将会员信息、商品信息、交易信息等在内的会员资料保存至一定期限。
</li>
                        <li>
                            5.2 如会员向联商所提出注销会员注册信息，需经联商所审核同意，由联商所注销该注册会员，会员即解除与联商所的协议关系。但联商所仍保留下列权利：
                            <ul>
                                <li>5.2.1 会员注销后，联商所有权保留该会员的资料，包括但不限于以前的会员资料、商品资料和交易记录等。</li>
                                <li>5.2.2 会员注销后，如会员在注销前在联商所交易系统上存在违法行为或违反本协议的行为，联商所仍可依据本协议的相关规定追究该会员的相应责任。</li>
                            </ul>
                        </li>
                        <li>
                            5.3 如存在下列情况，联商所可以通过注销用户的方式终止服务：
                            <ul>
                                <li>5.3.1 在会员违反本协议相关规定时，联商所有权终止向该会员提供服务。联商所将在中断服务时通知会员。</li>
                                <li>5.3.2 如发现会员注册资料中有虚假内容的，联商所有权随时终止该会员资格；</li>
                                <li>5.3.3 本协议终止或更新时，会员未确认新的协议的。</li>
                                <li>5.3.4 其它联商所认为需终止服务的情况。</li>
                            </ul>
                        </li>
                        <li>
                            5.4 因不可抗力、会员违规等原因导致系统服务中断、终止，依下列原则处理：
                            <ul>
                                <li>5.4.1 服务中断、终止之前，会员与其他会员之间未形成电子购销合同，联商所有权在中断或终止服务的同时删除该会员的相关要约和信息。</li>
                                <li>5.4.2 服务中断、终止之前，会员与其他会员之间形成了电子购销合同，联商所有义务协助双方完成交易。 </li>
                            </ul>
                        </li>
                        <li>5.5 联商所若因会员的行为（包括但不限于发布的商品、在系统社区发帖等）侵害了第三方的权利或违反了相关规定，而受到第三方的追偿或受到主管机关的处分时，会员应赔偿广联商所因此所产生的一切损失及费用。</li>
                        <li>5.6 对违反相关法律法规或者违反本协议规定，联商所有权终止该会员使用交易平台的其它服务。 </li>
                    </ul>
                    六、协议的修订
                    <p>
                        本协议可由联商所修订，并将修订后的协议公告于系统，修订后的条款内容自公告时起生效，并成为本协议的一部分。联商所在协议修订完成后应将协议修订后的条款以系统公告方式告知会员，会员有选择继续接受或拒绝接受修订后协议的权利。若在本协议修改之后，会员未在三个工作日内做出拒绝接受的意思表示，或仍继续使用本系统相关服务的，视为会员接受和自愿遵守修订后的协议。
                    </p>
                    七、联商所的责任范围 
                    <p>当会员接受该协议时，会员应明确了解并同意∶
                    <ul>
                        <li>7.1 会员使用联商所的系统之风险由会员自己负担。</li>
                        <li>7.2 会员经由联商所的系统取得的建议和资讯，无论其形式或表现，仅作为参考，会员如果根据此建议进行交易，由会员自己对结果负责。</li>
                        <li>7.3 联商所的系统只是为会员提供一个交易的平台，对于会员所刊登的交易物品的合法性、真实性及其品质，以及会员履行交易的能力等，联商所进行必要的审核和确认， 但联商所不承担保证责任。</li>
                        <li>7.4 联商所对系统上的资讯、广告、产品或其它资料的准确性和完整性不作任何保证，也不保证所包含的信息和建议不会发生任何变更，联商所力求系统上的资讯、广告、产品或其它资料的客观、公正，但资讯中涉及到的观点、结论和建议仅供参考，投资者据此做出的任何投资决策与联商所和作者无关。</li>
                    </ul>
                    </p>
                    八、知识产权 
                    <ul>
                        <li>8.1
                            联商所系统所使用的任何相关软件、程序、内容，包括但不限于作品、图片、档案、资料、系统构架、系统版面的安排、网页设计、经由本系统或广告商向会员呈现的广告或资讯，均由联商所享有相应的知识产权，包括但不限于著作权、商标权、专利权或其它专属权利等，受到相关法律的保护。未经交易平台书面授权，会员保证不修改、出租、出借、出售、散布系统所使用的上述任何资料和资源，或根据上述资料和资源制作成任何种类物品。</li>
                        <li>8.2
                            联商所授予会员不可转移及非专属的使用权，使会员可以通过单机计算机使用本系统的目标代码（以下简称"软件"），但会员不得且不得允许任何第三方，复制、修改、创作衍生作品、进行还原工程、反向组译，或以其它方式破译或试图破译源代码，或出售、转让"软件"或对"软件"进行再授权，或以其它方式移转"软件"之任何权利。会员同意不以任何方式修改"软件"，或使用修改后的"软件"。 
                        </li>
                        <li>8.3 会员不得经由非联商所授权系统的客户端登陆联商所交易系统。</li>

                    </ul>
                    九、不可抗力
                    <p>
                        因不可抗力或者其他意外事件，使得本协议的履行不可能、不必要或者无意义的，双方均不承担责任。本协议所称之不可抗力意指不能预见、不能避免并不能克服的客观情况，包括但不限于战争、台风、水灾、火灾、雷击或地震、罢工、暴动、法定疾病、黑客攻击、网络病毒、电信部门技术管制、政府行为或任何其它自然或人为造成的灾难等客观情况。
                    </p>
                    十、争议解决方式
                    <ul>
                        <li>10.1 本协议及其修订本和相关补充协议的有效性、履行和与本协议及其修订本和相关补充协议效力有关的所有事宜，将受中华人民共和国法律约束，任何争议仅适用中华人民共和国法律。</li>
                        <li>10.2 因本协议所引起的会员与联商所的任何纠纷或争议，首先应友好协商解决，协商不成的，会员在此完全同意将纠纷或争议提交联商所注册地有管辖权的人民法院诉讼解决。</li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- 登录框 end -->
    </div>
</div>
    
@@include('../_common/footer/footer.html')
@@include('../_common/footer/foot.html')
</body>
</html>
